.message-container {
    border-left-width: 10px;
    background-color: transparent;
    margin-left: 20px;
    margin-right: 20px;
}

.success-message {
    border-color: #80ba02;
}

.warning-message {
    border-color: #ff8102;
}

.error-message {
    border-color: #e81325;
}

.loading-container {
    height: 406px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #cccccc;
}
