<app-insights-enablement [resourceId]="resourceId"></app-insights-enablement>
<div class="animated fadeIn panel with-nav-tabs panel-info width-90">
  <div class="panel-heading" style="padding:0">
    <ul class="nav nav-tabs">
      <li role="presentation" class="report-tab" *ngFor="let item of healthCheckpoints; let i = index"
        [ngClass]="{'active': i === selectedCategoryIndex}" tabindex="0" (keyup.enter)="setCategory(i)">
        <a (click)="setCategory(i)">
          <div style="display: flex">
            <status-icon [status]="item.healthStatus" [loading]="item.loadingStatus"></status-icon>
            <div style="padding-left: 10px">{{item.title}}</div>
          </div>
        </a>
      </li>
    </ul>
  </div>
  <div class="panel-body" style="background-color:rgba(226, 245, 255, 0.15)">
    <div *ngIf="healthCheckpoints[selectedCategoryIndex].loadingStatus === 0" class="loading-container">
      <status-icon [size]="30" [loading]="LoadingStatus.Loading"></status-icon>
    </div>
    <div class="tab-content" *ngIf="healthCheckpoints[selectedCategoryIndex].loadingStatus !== 0">
      <div class="row">
        <detector-container [detector]="healthCheckpoints[selectedCategoryIndex].detector"
          (onDetectorLoaded)="updateDetectorStatus(i, $event)" analysisMode="true">
        </detector-container>
      </div>
      <div class="row">
        <button type="button" class="btn btn-link"
          (click)="onFullReportClick(healthCheckpoints[selectedCategoryIndex].href, healthCheckpoints[selectedCategoryIndex].title)">
          View Full Report <i class="fa fa-chevron-right"></i>
        </button>
      </div>
    </div>
  </div>
</div>