<div>
  <div class="animated fadeIn panel with-nav-tabs width-90">
    <div class="panel-heading"
      style="padding:0;position: relative;display: flex; justify-content: space-between; font-size: 15px;">
      <!-- <ul class="nav nav-tabs"> -->
      <!-- <li role="presentation" class="report-tab" *ngFor="let item of healthCheckpoints; let i = index"
          [ngClass]="{'active': i === selectedCategoryIndex}" tabindex="0" (keyup.enter)="setCategory(i)">
          <a (click)="setCategory(i)">
            <div style="display: flex">
              <status-icon [status]="item.healthStatus" [loading]="item.loadingStatus"></status-icon>
              <div style="padding-left: 10px">{{item.title}}</div>
            </div>
          </a>
        </li> -->
      <!-- </ul> -->
      <span>Chart Header</span>
      <span (click)="showChoiceGroup = !showChoiceGroup">
        <span style="margin-right: 5px;">Label: All</span>
        <fab-icon iconName="Filter" contentStyle="color: #0078D7;"></fab-icon>
      </span>
      <fab-choice-group *ngIf="showChoiceGroup"
      style="position: absolute;
              top: 20px;
              right: 0px ;
              background: #FFFFFF;
              padding: 8px;
              color: #323130;
              font-size: 14px;" label="Label" [options]="options" (onChange)="setCategoryIndex($event)"
        defaultSelectedKey="0">
      </fab-choice-group>
    </div>
    <!-- <div *ngIf="showInsightNumber" style="height: 32px;">
      <p style="background-color: #f0f6ff;font-size: 13px;margin:13px 0px">
        <span class="fa fa-info-circle" style="color: #015CDA;margin: 0px 5px;"></span>
        <span>You have {{ insightNumber }} new {{ insightNumber > 1 ? 'insights' : 'insight'}}</span>
        <i class="fa fa-times pull-right" (click)="showInsightNumber = false" ></i>
      </p>
    </div> -->
    <div class="panel-body" style="background-color:rgba(226, 245, 255, 0.15)">
      <div *ngIf="healthCheckpoints[selectedCategoryIndex].loadingStatus === 0" class="loading-container">
        <status-icon [size]="30" [loading]="LoadingStatus.Loading"></status-icon>
      </div>
      <div class="tab-content" *ngIf="healthCheckpoints[selectedCategoryIndex].loadingStatus !== 0">
        <div class="row">
          <detector-container [detector]="healthCheckpoints[selectedCategoryIndex].detector"
            (onDetectorLoaded)="updateDetectorStatus(i, $event)" analysisMode="true"
            (onUpdateInsightCount)="updateInsightCount($event)">
          </detector-container>
        </div>
        <div class="row">
          <button type="button" class="btn btn-link"
            (click)="onFullReportClick(healthCheckpoints[selectedCategoryIndex].href, healthCheckpoints[selectedCategoryIndex].title)">
            View Full Report <i class="fa fa-chevron-right"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
