
.kustolink {
    font-size: smaller;
    text-decoration-line: underline;
}

.operationName {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #3c8dbc;
    color: whitesmoke;
    padding-left: 10px;
}
