<div class="banner">
  <div>
    <a class="btn back-button" (click)="navigateBack()">&lt; Back</a>
  </div>
  <div class="category-info-container">
    <img *ngIf="supportTopicIcon != undefined && supportTopicIcon != ''" class="category-icon" src={{supportTopicIcon}} />
    <ngx-avatar *ngIf="supportTopicIcon == undefined || supportTopicIcon === ''" [name]="supportTopicName" class="category-icon-avatar"
      [round]="false" initialsSize="2" size="100"></ngx-avatar>
    <div class="category-title">
      <span class="catogory-name">
        {{supportTopicName}}
      </span>
      <div class="category-description">
        <span>
          {{supportTopics.length}} support topics, {{detectorsNumber}} detectors
        </span>
      </div>
    </div>
  </div>
</div>
<div *ngIf="supportTopicsLoaded" class="detector-list">
  <div class="flexed-detector card" *ngFor="let supportTopic of supportTopics; let i=index" (click)="navigateToContent(supportTopic)">
    <div class="detector-top row">
      <div class="col-md-2 detector-icon">
        <img *ngIf="supportTopic.icon != undefined && supportTopic.icon != ''" class="support-topic-l3-icon" src={{supportTopic.icon}}
        />
        <ngx-avatar *ngIf="supportTopic.icon == undefined || supportTopic.icon === ''" [name]="supportTopic.supportTopicL3Name" [round]="true"
          initialsSize="2"></ngx-avatar>
      </div>
      <div class="col-md-10 detector-name">
        {{supportTopic.supportTopicL3Name}}
      </div>
    </div>
    <div class="detector-bottom">
      <div class="detector-description">
        <div>ID: {{supportTopic.supportTopicId}}</div>
        <div *ngIf="supportTopic.detectorName !== ''">Detector: {{supportTopic.detectorName}}</div>
      </div>
      <div class="detector-authors">
        <div>
          <div *ngIf="supportTopic.detectorName !== ''" class="label detector-enabled-description">
            Detector Enabled
          </div>
        </div>
        <div *ngIf="supportTopic.detectorName === ''" class="label label-default detector-disabled-description">Self Help Content</div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!supportTopicsLoaded" class="loading-page">
  <i class="fa fa-spinner fa-spin fa-4x fa-fw"></i>
</div>