.panel-heading {
  cursor: pointer;
}

.panel-body {
  background-color: #f6fbff;
}

.connstr-text {  
  overflow-wrap: break-word;
  font-style: italic;
  text-decoration: underline;
}

.fixed-table {
  table-layout:fixed
}
