.category-container {
    display: flex;
    flex-wrap: wrap;
}

.category-container > div { 
    margin: 10px;
}

.category {
    width: 180px;
    background-color: #4085a0;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 100%;
    min-height: 64px;
    box-shadow: 0px 2px 4px #0000001a;
}

.category:hover {
    box-shadow: 0px 4px 8px #00000024;
}

.category > div {
    text-align: center;
    width:100%;
}

.selected-category {
    background-color: #8c61e2;
}