.main-sidebar {
  height: calc(100vh - 50px);
  padding: 0;
  background-color: #367fa9;
  border-right:1px solid white;
}

menu-scroll {
  // navbar + title + search box = 50 + 45 + 44 = 139
  height: calc(100vh - 90px);
}

.sidebar-menu > li > a {
    cursor: pointer;
}

.sidenav-item-selected {
    background-color: #1f1f1f;
}

.applens-menu-item {
    color: #eeeeee;
    word-wrap: break-word;
}

.applens-menu-item:hover {
    color: #ffffff;
}

.secondary-icon{
    font-size:12px;
    margin-left:5px;
}

.resource-container {
    height: 40px;
    font-size: 16px;
}


.user-panel > .info {
    left: 30px;
}

.user-panel {
    cursor: pointer;
}

.user-panel.active,
.user-panel {
    background: #1e282c;
}

.menu-icon-create {
    color: green;
}

.menu-icon {
    font-size: medium;
}

.menu-icon-documentation {
    color: #367fa9;
}

.menu-icon-analysis {
    color: #bf0505f7;
}

.menu-icon-detectors {
    color: #175817;
}

.menu-icon-gists {
    color: #707070;
}

.loading-menu {
    margin: 60px;
}

.icon-colleapse-side-nav :hover{
    cursor: pointer;
}

::ng-deep {
    .ms-GroupHeader-title{
        font-size: 14px;
        font-weight: 600;
    }
}
