<div class="section-divider" [class.not-expandable]="!collapsible" (click)="expanded = !expanded">
  <div>
    <ng-content select=".menu-icon"></ng-content>  
    </div>
  <div class="menu-label">
      {{label.toUpperCase()}}
  </div>
  <div class="menu-expand-icon">
      <span class="fa section-expand-icon" *ngIf="collapsible" [class.fa-angle-down]="!expanded && !disableExpandIcon" [class.fa-angle-up]="expanded && !disableExpandIcon"></span>
  </div>
  
</div>
<div class="section-children">
  <div class="expandable-content" [@expand]="collapsible && expanded ? 'shown' : 'hidden'">
      <ng-content select="collapsible-menu-item"></ng-content>
      <ng-content select=".fa-spin "></ng-content>
  </div>
</div>