<ng-container *ngIf="showNotification">
  <fab-message-bar [messageBarType]="type" isMultiline="false" dismissButtonAriaLabel="Close" [truncated]="true"
    [styles]="styles" overflowButtonAriaLabel="See more">{{_riskAlertService.notificationMessageBar.notificationMessage}} <a
      (click)="openRiskAlertsPanel(_riskAlertService.notificationMessageBar.id)">View more details</a>.
  </fab-message-bar>
</ng-container>

<ng-container *ngIf="showRiskAlertsNotification">
  <fab-message-bar [messageBarType]="type" isMultiline="false" dismissButtonAriaLabel="Close" [truncated]="true"
    [styles]="styles" overflowButtonAriaLabel="See more">{{notificationMessage}} <a
      (click)="openRiskAlertsPanel(_riskAlertService.caseSubmissionRiskNotificationId)">View more details</a>.
  </fab-message-bar>
</ng-container>
