<!-- 
<div class="content-wrapper gray-background">
   
</div> -->

<div class="App">
    <div class="header"></div>
    <div class="body">
        <div class="sidebar col-md-3">
            <fab-nav [groups]="groups" [styles]="styles"></fab-nav>
        </div>
        <div class="content col-md-9">
            <router-outlet></router-outlet>
        </div>
    </div>
    <div class="footer"></div>
</div>
<!-- <div class="chat-container">
    <div>
        <support-bot [startingKey]="startingKey"></support-bot>
    </div>
</div> -->