<ngu-carousel [inputs]="carouselTile" (initData)="initDataFn($event)" (carouselLoad)="carouselTileLoad($event)">
    <ngu-tile NguCarouselItem *ngFor="let problemType of ProblemTypes">
        <div class="tile" [style.background-color]="problemType.BgColor">
            <div class="col category-container animated zoomIn" [style.background-color]="problemType.BgColor" [style.color]="problemType.TextColor"
                [routerLink]="[problemType.Href]" (click)="logCategorySelected(problemType.Name)">
                <div class="category-content">{{problemType.Name}}</div>
            </div>
        </div>
    </ngu-tile>
    <button NguCarouselPrev class='leftRs'>&lt;</button>
    <button NguCarouselNext class='rightRs'>&gt;</button>
</ngu-carousel>