.panel-heading {
  cursor: pointer;
  color: #000000;
}

.healthy-icon-color {
    color: #488b00
}

.panel-body {
  background-color: #f6fbff;
}

.connstr-text {  
  overflow-wrap: break-word;
  font-style: italic;
  text-decoration: underline;
  cursor: pointer;
}

.fixed-table {
  table-layout:fixed
}
