<div>
  <div [ngStyle]="{'display':submitted === false ? 'block': 'none'}">
    <h3>Send us feedback</h3>
    <p>Thank you for taking the time to give us feedback.</p>
    <div style="display:inline-flex">
      <svg class="svg-icon" viewBox="0 0 6 6" role="presentation" focusable="false"
        xmlns:svg="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="6px" height="6px">
        <g>
          <path
            d="M3.543 2.352l2.08-.716L6 2.687l-2.076.675L5.21 5.158l-.942.676-1.242-1.867-1.264 1.867-.97-.676 1.305-1.796L0 2.687.38 1.63l2.058.743V.233h1.105v2.119z"
            class="msportalfx-svg-c22"></path>
        </g>
      </svg>
      <p>Are you satisfied with your experience?</p>
    </div>
    <div style="display: flex; font-size: 25px;">
      <div *ngFor="let feedbackIcon of feedbackIcons;let i = index" (click)="setRating(i)"
        [ngClass]="{'selected-icon':rating - 1 === i}" style="padding: 5px;">
        <fab-icon [iconName]="feedbackIcon"></fab-icon>
      </div>
    </div>
    <textarea [(ngModel)]="feedbackText" placeholder="Tell us about your experience..." tabindex="0" rows="7"
      cols="40"></textarea>
    <div class="feedback-submit">
      <fab-primary-button (onClick)="submitFeedback()" [disabled]="rating == 0">Submit feedback</fab-primary-button>
    </div>
  </div>

  <div [ngStyle]="{'display':submitted === true ? 'block': 'none'}">
    <p>Thank you for your feedback</p>
    <div *ngIf="rating >= 3">
      <p>Share your experience with App Service Diagnostic !</p>
      <!-- <button>Tweet</button> -->
    </div>

    <div *ngIf="rating < 3">
      <p>Get Help from Genie to answer your questions on diagnosting problem of your application.</p>
      <div (click)="openGenieHandler()" class="feedback-btn">Ask Genie</div>
    </div>
  </div>
</div>
