.selected-icon {
    // border: 1px dotted blue;
    color: rgb(255, 185, 0);
}

.feedback-info {
    border:1px solid #f0f6ff;
    background-color: #f0f6ff;
    height: 50px;
    border-radius: 2px;
    vertical-align: middle;
    display: flex;
    align-items: center;
}

.feedback-info-icon {
    color: #015cda;
    font-size: 15px;
    padding: 5px;
}

.feedback-btn {
    border: 1px solid #31b0d5;
    width: 75px;
    border-radius: 10px;
    text-align: center;
    color: #31b0d5;
}

.feedback-btn:hover {
    cursor: pointer;
}

.feedback-submit {
    position: absolute;
    bottom: 10px;
    left:10px
}

.svg-icon {
    fill:red;
}
// p {
//     padding: 10px 0px;
// }