<div class="home-container">
    <div class="input-group input-group-lg search-input-group">
        <input type="text" class="form-control" aria-label="Search App Service Diagnostics" placeholder="Search App Service Diagnostics" [ngModel]="searchValue" (ngModelChange)="updateSearchValue($event)" (focus)="onSearchBoxFocus(event)">
        <div class="input-group-btn">
            <button class="btn btn-default" type="button" (click)="clearSearch()"><i class="fa fa-close"></i></button>
        </div>
    </div>
    <div *ngIf="!searchBoxFocus else searchResults">
        <h3>App Service Diagnostics</h3>
        <p id="page-description">
            Use App Service Diagnostics to investigate how your app is performing, diagnose issues, and discover how to improve your application. Select the problem category that best matches the information or tool that you're interested in: 
        </p>
        <div *ngIf="categories" class="category-container">
            <div *ngFor="let category of categories" style="display: inline-block;padding: 20px 40px 20px 0px">
                <category-tile [category]="category"></category-tile>
            </div>
        </div>
        <div class="privacy-statement">
                <a href="https://azure.microsoft.com/en-us/support/legal/?amp%3Bclcid=0x9" target="_blank">Privacy</a>
            </div>
    </div>
</div>

<ng-template #searchResults>
    <search-results [searchValue]="searchValue"></search-results>
</ng-template>