<div class="category-container" style="width:100%">
  <!-- <div>
    <h2><span class="blade-title">{{categoryName}}</span><span class="blade-description"> -
        {{categoryDescription}}</span></h2>
    <p class="category-description" *ngIf="categoryId!=='navigator' && categoryId!=='DiagnosticTools'">
      If you have a specific problem you want to investigate, click a topic in the left navigation<span *ngIf="disableGenie==false"> or click Ask Genie</span>.
    </p>
  </div> -->
  <div style="margin-left: -20px;">
    <detector-container [detector]="categoryOverviewDetector" [hideDetectorHeader]="false"[overWriteDetectorDescription]="categoryDescription" [overWriteDetectorName]="categoryName"></detector-container>
  </div>
</div>
