<div class="row" style="margin-bottom: 10px;">
    <div class="category-container-header">Select Problem Category</div>
    <div *ngFor="let category of allProblemCategories;let i = index">
        <collapsible-list [title]="category.Name" [collapsed]="category.Collapsed" *ngIf="(category.Subcategories | toolstack:AppStack | platformfilter:platform  | apptype:appType).length > 0">
            <collapsible-list-item>
                <div class="col zoomIn animated category-box" 
                    *ngFor="let subcategory of category.Subcategories | toolstack:AppStack | platformfilter:platform | apptype:appType" [style.background-color]="category.BgColor" [style.color]="category.TextColor"
                    [routerLink]="[subcategory.Href]" (click)="logCategorySelected(subcategory.Name)">
                    <div class="category-content">{{subcategory.Name}}</div>
                </div>
            </collapsible-list-item>
            <div *ngIf="category.Name ==='Diagnostic Tools'" class="area">
                <div class="content">
                    Showing tools for
                    <strong>{{ AppStack }}</strong>.
                    <div style="display:inline-block" class="dropup">
                        <a class="dropdown-toggle" (click)="showToolsDropdown = !showToolsDropdown">Change Stack</a>
                        <ul class="dropdown-menu" style="cursor: pointer" aria-labelledby="dropdownMenu1" [ngClass]="{'show': showToolsDropdown ===
                    true, 'hide': showToolsDropdown === false}">
                            <li (click)="onStackChanged('ASP.Net')">
                                <a>ASP.Net</a>
                            </li>
                            <li (click)="onStackChanged('ASP.Net Core')">
                                <a>ASP.NET Core</a>
                            </li>
                            <li (click)="onStackChanged('Java')">
                                <a>Java</a>
                            </li>
                            <li (click)="onStackChanged('PHP')">
                                <a>PHP</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </collapsible-list>
    </div>
</div>