@import "../../../../styles/main.scss";

.category-container{
    margin: 25px 30px;
}

.category-title{
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    font-family: 'Segoe UI';
}

.category-description {
    font-size: 16px;
    line-height: 22px;
}

.search-box{
    width:330px;
    height: 23px;
    margin-bottom: 15px;
}

.genie {
    height: 20px;
    width: 20px;
    background: #0078d4;
    margin-right: 5px;
    border-radius: 10px;
}

.genie-message {
    position: absolute;
    right: 0px;
    width: 461px;
    background-color: #0078D4;;
  //  transition: transform $ms-motion-duration-4;
    color: white;
    border-radius: 15px;
}

.chat-message {
    position: absolute;
    right: 0px;
    width: 461px;
    background-color: #0078D4;;
 //   transition: transform $ms-motion-duration-4;
    color: white;
    border-radius: 15px;
}

.scrollableContent {
    overflow-y: hidden;
}

