<!-- <p>
  This is the overview page of category: <br />
  <b> {{categoryId}}</b>
</p> -->
<!-- <div style="margin: 0px -10px;">
  <support-bot startingKey="welcome-WindowsAvailabilityAndPerformance"></support-bot>
</div> -->
<template #tpl>
  <span>I am span in template</span>
</template>

<ng-template #panelTitle>
  <h1>Hi my name is genie</h1>
</ng-template>

<ng-template #headerTemplate let-column="column" let-sort="sortFn">
  <div (click)="sort()">{{ column.name }}</div>
  <input type="text" placeholder="{{column.name}}" (keyup)="updateFilter($event, column.prop)" />
</ng-template>
<div class="category-container">
  <div>
    <h3 class="category-title">Availability and performance</h3>
    <p class="category-description">Explore this overview to discover any application or platform issues that may affect your app's high availability. You
      can also drill down on an area by selecting a topic in the side navigation</p>
  </div>

  <div style="margin: 15px 0px" (click)="isOpen=!isOpen">
    <img src="../../../../assets/img/genie.svg">
    <span>Ask Genie</span>
    <span class="fa status-icon fa-info-circle" style="margin-left: 5px;"></span>
  </div>

  <div class="search-box">
    <fab-search-box placeholder="Search"></fab-search-box>
  </div>

  <!-- [renderNavigationContent]="navigationContent"  -->
  <!-- [headerText]="'Hi my name is Genie'" -->
  <!-- [renderFooter]="renderFooter" -->
  <!-- [renderNavigationContent]="navigationContent"  -->
  <fab-panel [isOpen]="isOpen" [isHiddenOnDismiss]="true" (onDismiss)="isOpen=!isOpen" [isLightDismiss]="isLightDismiss" [hasCloseButton]="false"
    [closeButtonAriaLabel]="'close'">

    <!-- closeButton.style.position='absolute';
    closeButton.style.right = '10px';
    panelTitle.style.position = 'absolute';
    panelTitle.style.left = '25px';
    panelTitle.style.right = '32px';
    panelTitle.style.top = '0px';
    panelTitle.style.height = '27px';
    panelTitle.style.fontFamily = "Segoe UI";
    panelTitle.style.fontSize = "18px";
    panelTitle.style.lineHeight = "24px";
    panelTitle.style.display = "flex";
    panelTitle.style.alignItems = "flex-end";
    panelTitle.innerHTML = "Hi my name is Genie" -->

    <!-- style="position: absolute;" -->
    <div style="margin-bottom: 10px">
      <div style="position: absolute; left:25px; right: 32px; top:0px; height: 32px; font-family: 'segoe UI'; font-size: 18px; line-height: 24px; display: flex; align-items: flex-end">Hi my name is genie</div>
      <div style="color:#605E5C; position: absolute; left:25px; right: 32px; top:27px; height: 19px; font-family: 'segoe UI'; font-size: 10px; line-height: 14px; display: block">Help bot</div>
      <div style="position: absolute; top:10px; right: 10px; display: flex; align-items: flex-end">
        <i class="ms-Icon ms-Icon--x" aria-hidden="true"></i>
      </div>
      <!-- <button style="position: absolute; right: 10px; display: flex; align-items: flex-end" (click)="isOpen=false">X</button> -->
    </div>
    <div class="panel-content" style="margin-top: 40px;">
      <!-- *ngIf="messages != undefined && messages.count > 0" -->
      <fab-pivot>
        <fab-pivot-item headerText="Chat">
          <div *ngIf="messages != undefined && messages.count > 0">
            <div class="row animated fadeIn chat-message-container" *ngFor="let item of messages">
              <span>hahaha</span>
              <dynamic-component [componentData]="item" (onViewUpdate)="scrollToBottom()" (onComplete)="getMessage($event)"></dynamic-component>
            </div>
          </div>
        </fab-pivot-item>
        <fab-pivot-item headerText="Insights">
          <div></div>
        </fab-pivot-item>
        <fab-pivot-item headerText="History">
          <div></div>
        </fab-pivot-item>
      </fab-pivot>

      <div class="chat-search-box" style="position: absolute; bottom: 19px; left: 37px; right: 37px">
        <fab-text-field [placeholder]="'Type your question'" [iconProps]="{iconName: 'send'}"></fab-text-field>
      </div>
    </div>
    <!-- <span>Chat</span> -->
  </fab-panel>
  <health-check-v3></health-check-v3>
  <p style="font-size: 12px;">Are you looking for something else?</p>
  <div class="search-box">
    <fab-search-box placeholder="Search"></fab-search-box>
  </div>
</div>