.category-container{
    margin: 25px 30px;
}

.category-title{
    font-size: 22px;
    line-height: 22px;
}

.category-description {
    font-size: 16px;
    line-height: 22px;
}

.search-box{
    width:330px;
    height: 23px;
    margin-bottom: 15px;
}

