.site-content {
  padding-top: 50px;
}

side-nav {
    position: fixed;
    top: 50px;
}

.logo {
    cursor: pointer;
    position: fixed;
    top: 0;
}

.white-background {
    background-color: white;
}

.app-title {
    color: #ffb353
}

.content-wrapper .white-background {
  min-height: 0;
}
