<fabric-feedback></fabric-feedback>
<applens-header></applens-header>
<l1-side-nav></l1-side-nav>
<!-- <header class="main-header">
  <nav class="navbar navbar-fixed-top" role="navigation">
    <a (click)="reloadHome()" class="logo">
      <span class="logo-lg">
        <span class="app-title">App</span>Lens
      </span>
    </a>
    <ul *ngIf="showUserInformation" class="nav navbar-nav navbar-right">
      <li class="user-label">
        <span *ngIf="userName">Hello, {{userName}}</span>
      </li>
      <li>
        <img *ngIf="userPhotoSource != undefined && userPhotoSource !== ''" id="userPhoto" [src]="userPhotoSource"
          class="avatar" alt="User Profile Photo" (click)="navigateToUserPage()" />
        <ngx-avatar *ngIf="displayName != undefined && displayName !== '' && userPhotoSource === ''"
          class="avatar avatar-initial" [round]="false" [name]=displayName initialsSize="2"
          (click)="navigateToUserPage()"></ngx-avatar>
        <div *ngIf="userPhotoSource == undefined" class="loading-element">
          <span class="fa-li fa fa-spinner fa-spin fa-2x photo-loading"></span>
        </div>
      </li>
    </ul>
    <div *ngIf="_searchService.searchIsEnabled && !_searchService.resourceHomeOpen" class="search-box">
      <i class="fa fa-search search-icon"></i>
      <input placeholder="Describe your problem and hit enter" class="search-input"
        [(ngModel)]="_searchService.searchTerm" (keyup.enter)="triggerSearch()">
      <span class="icon-err"
        [style.display]="_searchService.searchTerm?.trim().length>0 && _searchService.searchTerm?.trim().length<4? '': 'none'"
        title="At least 4 characters">
        <i class="fa fa-exclamation"></i>
      </span>
    </div>
  </nav>
</header> -->
<div class="dashboard-container content-under-header" [ngStyle]="getContainerStyle()">
  <div class="dashboard-content">
    <comm-alert></comm-alert>
    <l2-side-nav></l2-side-nav>
    <div *ngIf="showTitle" style="font-size: 24px;font-weight: 800;">
      {{getTitle()}}
    </div>
    <div [class.content-with-side-nav]="showL2SideNav" class="mt-3">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>