
.timeline-control {
    background-color: #f9f9f9;
    padding-top: 10px;
    padding-bottom: 5px;
}

.panel {
    margin-bottom: 10px;
}

.button-control {
    position: relative;
    left:0;
    top:0;
    display: table;
}

.graph-container {
    min-height: 200px;
    padding-bottom: 0px;
}

.hide-button {
    position: absolute;
    width: 100%;
    right: 0px;
    text-align: center;
    top: 0px;
}