<div style="min-height: 100%">
    <detector-control></detector-control>
    <div class="row">
        <availability-graph [(displayGraph)]="showLast24Hours" [displayTimeLine]="true" [showPerformanceFirst]="true">
            <downtime-timeline [appAnalysisResponse]='analysisResponse' [(selectedDowntimeIndex)]='selectedTimePeriodIndex'  [problemDescription]="problemDescription"></downtime-timeline>
        </availability-graph>

        <br/>

        <div class="row">
            <div class="col-md-12">
                <div *ngIf="loadingAnalysis">
                    <i class="fa fa-circle-o-notch fa-2x fa-spin spin-icon" aria-hidden="true"></i>
                    <span [@loadingAnimation]="showLoadingMessage ? 'shown' : 'hidden'" class="loading-message">{{loadingMessages[loadingMessageIndex]}}</span>
                </div>
                <problem-solution *ngIf="analysisResponse" [showAppInsights]="true" [defaultSolutions]="defaultSolutions" [problemDescription]='problemDescription'
                    [analysisResponseInput]="analysisResponse" [selectedTimePeriodIndexInput]="selectedTimePeriodIndex" [openedFromTicketOpeningFlow]="bladeOpenedFromSupportTicketFlow"
                    [parentContainer]="'perfanalysis'">
                </problem-solution>
            </div>
        </div>
    </div>
</div>

<feedback-form [source]="'perfanalysis'"></feedback-form>