.selected-icon {
    // border: 1px dotted blue;
    color: rgb(255, 185, 0);
    position: relative;
}

// .feedback-info {
//     border:1px solid #f0f6ff;
//     background-color: #f0f6ff;
//     height: 50px;
//     border-radius: 2px;
//     vertical-align: middle;
//     display: flex;
//     align-items: center;
// }

// .feedback-info-icon {
//     color: #015cda;
//     font-size: 15px;
//     padding: 5px;
// }

.feedback-icon:hover {
    cursor: pointer;
}

.feedback-btn {
    border: 1px solid #31b0d5;
    width: 75px;
    border-radius: 10px;
    text-align: center;
    color: #31b0d5;
}

.feedback-btn:hover {
    cursor: pointer;
}

.feedback-submit {
    position: absolute;
    bottom: 10px;
    left:10px
}

.svg-icon {
    fill:red;
}

.feedback-icon .tooltiptext {
    display:none;
    background: white;
    color: black;
}

.feedback-icon:hover .tooltiptext {
    display: block;
    opacity: 1;
    background: white!important;
    white-space: nowrap;
    z-index: 999;
    margin-top: 6px;
    position: absolute;
    border: 1px solid black;
    padding: 3px;
    font-size: 12px;
}
