<div *ngIf="!checkingSupportedTier && checkingSkuSucceeded && !supportedTier">
  <div class="focus-box focus-box-warning" style="margin-top:20px;margin-left:10px">
    <div>
      <strong>Error</strong> - This tool is supported only on <b>Standard, Premium </b> and <b>Isolated</b> SKU's only
      with <strong>AlwaysOn</strong> setting enabled to TRUE
    </div>
  </div>
  <div style="margin-left:10px">
    <daas-scaleup></daas-scaleup>
  </div>
</div>

<div *ngIf="error !=='' && !checkingSupportedTier">
  <div class="focus-box focus-box-warning" style="margin-top:20px;margin-left:10px">
    <div>
      <strong>Error</strong> - {{ error }}
    </div>
  </div>
</div>

<div *ngIf="!checkingSupportedTier && (supportedTier || !checkingSkuSucceeded) && !alwaysOnEnabled">
  <div class="focus-box focus-box-warning">
    <div>
      <strong>Error</strong> - We determined that the web app does not have Always-On enabled and due to these the
      diagnostic
      tools will not work reliably with AutoHeal. Please turn on the Always-On setting by going to the Application
      Settings
      for the web app and then run these tools.
    </div>
  </div>
</div>

<div *ngIf="!daasRunnerJobRunning" class="focus-box focus-box-warning" style="margin-top:20px">
  <div>
    <strong>Error</strong> - We found that the DAAS Web job is in a stopped state. Please go to WebJobs under this Web
    App and start
    the DAAS Web job manually and re-run this tool. If this is the first time you are running these tools, try hitting
    the refresh button
    after a few minutes
  </div>
</div>


<div class="focus-box focus-box-warning" style="margin-top:20px" *ngIf="foundDiagnoserWarnings">
  <strong>Warning</strong> - {{ diagnoserWarning }}
</div>

<div class="col" *ngIf="checkingDaasWebJobStatus">
  <i class="fa fa-circle-o-notch fa-spin spin-icon" aria-hidden="true"></i>
  Checking if DaaS Webjob is running...
</div>

<div class="col" *ngIf="checkingSupportedTier">
  <i class="fa fa-circle-o-notch fa-spin spin-icon" aria-hidden="true"></i>
  Checking suppported tier and retrieving daas settings
</div>

<div style="margin-top:15px"
  *ngIf="(!supportedTier || !daasRunnerJobRunning || foundDiagnoserWarnings) && (!checkingDaasWebJobStatus && !checkingSupportedTier)">
  <button class="btn btn-link pull-right" (click)="validateDaasSettings()"><i class="fa fa-refresh refresh-icon"></i>
    Refresh</button>
</div>

<div class="col" *ngIf="storageAccountNeeded">
  <configure-storage-account [siteToBeDiagnosed]="siteToBeDiagnosed" [sessionInProgress]="sessionInProgress"
    (StorageAccountValidated)="onStorageAccountValidated($event)"></configure-storage-account>
</div>