td {
    padding-right:10px;
    padding-top: 10px;
}

.status-box {
    border: 1px solid #ebebeb;
    padding:15px;
    margin-top:20px;
}

.action-box {
    border: 1px solid #ebebeb;
    padding:15px;
    background-color: #f9f9f9
}

.highlight-blue {
    color: #286090;
}

.header1 {
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.header2 {
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.container {
    margin-left:20px;
    margin-top:20px;
}