<daas-validator [siteToBeDiagnosed]="siteToBeDiagnosed" diagnoserName="CLR Profiler" (DaasValidated)="onDaasValidated($event)"></daas-validator>

<div *ngIf="daasValidated">
    <div class="action-box" *ngIf="siteToBeDiagnosed">
        <div>
            <table style="border:none">
                <tr>
                    <td>App: </td>
                    <td class="highlight-blue">
                        <b>{{siteToBeDiagnosed.siteName}}</b>
                    </td>
                </tr>
                <tr *ngIf="!error">
                    <td valign="top">
                        Instance(s):
                        <div class="tool-tip">
                            <i class="fa fa-info-circle" style="color:rgb(84, 143, 255)"></i>
                            <span class="tool-tip-text" style="width:250px;left:5px"> It may take up to 10 minutes for
                                the instances to update if you recently Scaled-Up or Scaled-down
                                the App Service Plan.
                            </span>
                        </div>
                    </td>
                    <td class="highlight-blue">
                        <div *ngFor="let instance of instancesSelected;let i = index">
                            <input [attr.aria-label]="instance.InstanceName" type="checkbox" [disabled]="sessionInProgress" value="{{ instance.InstanceName }}"
                                name="{{ instance.InstanceName }}" [(ngModel)]="instancesSelected[i].Selected" /> {{
                            instance.InstanceName}}
                        </div>
                    </td>
                </tr>
            </table>

            <div style="text-align:right">
                <div class="col" *ngIf="operationInProgress">
                    <i class="fa fa-circle-o-notch fa-spin spin-icon" aria-hidden="true"></i>
                    {{ operationStatus }}
                </div>

                <button [disabled]="sessionInProgress || operationInProgress || retrievingInstancesFailed" [hidden]="sessionCompleted"
                    class="btn btn-primary" (click)="collectProfilerTrace()">Collect Profiler Trace</button>

                <div style="margin-top:5px">
                    <input type="checkbox" [attr.aria-label]="'Add thread report'" [(ngModel)]="collectStackTraces" [disabled]="sessionInProgress" /> Add
                    thread report
                    <div class="tool-tip" style="z-index:2">
                        <i class="fa fa-info-circle" style="color:rgb(84, 143, 255)"></i>
                        <span class="tool-tip-text">If this option is enabled, then along with the profiler trace, a
                            thread report of all the threads
                            in the process is also collected at the end of the profiler trace. This is useful
                            especially
                            if you are troubleshooting totally hung processes, deadlocks or requests taking more than
                            60
                            seconds. This will pause your process for a few seconds until the thread dump is generated.
                            <div style="margin-top:10px">
                                CAUTION: This option is NOT recommended if you are experiencing high CPU on the
                                instance.
                            </div>
                        </span>
                    </div>
                </div>

            </div>

            <div class="status-box" *ngIf="sessionInProgress">
                <div *ngIf="!cancellingSession">
                    <select id="selectInstances" (change)="onInstanceChange($event.target.value)">
                        <option *ngFor="let instancestatus of instancesStatus | mapValues" value={{instancestatus.key}}>
                            {{instancestatus.key}}
                        </option>
                    </select>

                    <step-wizard [CurrentStep]="sessionStatus" [WizardSteps]="WizardSteps" [WizardStepStatus]="WizardStepStatus"></step-wizard>
                </div>
                <!-- Uncomment the Cancel button once DaaS logic to fix cancellation is corrected -->
                <!-- <button class="btn btn-primary btn-sm" (click)="cancelSession()" *ngIf="!cancellingSession">Cancel</button> -->
                <div *ngIf="cancellingSession">
                    <i class="fa fa-circle-o-notch fa-spin spin-icon" aria-hidden="true"></i>
                    Cancelling...
                </div>
            </div>
        </div>
        <div class="focus-box focus-box-warning" style="margin-top:20px" *ngIf="error">
            <div *ngIf="error.code === 'GatewayTimeout'">
                <strong>Error</strong> - Failed to fetch instances for the Web App. The instance may fail to respond to
                any diagnostic
                calls under high CPU situations. Please retry this investigation after some time.
            </div>
            <div *ngIf="error.code != 'GatewayTimeout'">
                <strong>Error</strong> - {{ error.message }}
            </div>
        </div>
        <div class="focus-box focus-box-warning" style="margin-top:20px" *ngIf="instancesChanged">
            <strong>Error</strong> - We detected that instances serving the Web App has changed so please re-select the
            instances
            and run diagnostics again.
        </div>
    </div>

    <div class="status-box" *ngIf="Reports?.length > 0">
        <table class="table table-hover">
            <tbody>
                <tr *ngFor="let report of Reports">
                    <td>
                        {{ report.FileName }}
                    </td>
                    <td>
                        <a (click)="openReport(report.RelativePath)" class="btn btn-primary">Open Report</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>