<daas-validator [siteToBeDiagnosed]="siteToBeDiagnosed" diagnoserName="JAVA Flight Recorder" (DaasValidated)="onDaasValidated($event)"></daas-validator>
<div *ngIf="validationResult.Validated">
    <div class="action-box" *ngIf="siteToBeDiagnosed">
        <div>
            <table style="border:none;">
                <tr>
                    <th tabindex="0" class="unbold" scope="row">App: </th>
                    <td tabindex="0" class="highlight-blue">
                        <b>{{siteToBeDiagnosed.siteName}}</b>
                    </td>
                </tr>
                <tr>
                    <th tabindex="0" class="unbold" scope="row">Mode: </th>
                    <td>
                        <div class="btn-group" role="radiogroup">
                            <button tabindex="0" [disabled]="sessionInProgress" role="radio" class="btn btn-default btn-xs"
                                [ngClass]="{'btn-primary':collectionMode === 0}" (click)="selectMode(0);" [attr.aria-checked]="collectionMode === 0">
                                Collect and Analyze Data
                            </button>
                            <button tabindex="0" [disabled]="sessionInProgress" role="radio" class="btn btn-default btn-xs"
                                [ngClass]="{'btn-primary':collectionMode === 1}" (click)="selectMode(1);" [attr.aria-checked]="collectionMode === 1">
                                Collect Data Only
                            </button>
                        </div>
                    </td>
                </tr>
                <tr *ngIf="!error">
                    <th tabindex="0" class="unbold" scope="row" valign="top">
                        Instance(s):
                        <div class="tool-tip">
                            <i class="fa fa-info-circle" style="color:rgb(84, 143, 255)"></i>
                            <span class="tool-tip-text" style="width:250px;left:5px"> It may take up to 10 minutes for
                                the instances to update if you recently Scaled-Up or Scaled-down
                                the App Service Plan.
                            </span>
                        </div>
                    </th>
                    <td tabindex="0" class="highlight-blue">
                        <div *ngFor="let instance of instancesSelected;let i = index">
                            <input [attr.aria-label]="instance.InstanceName" type="checkbox" [disabled]="sessionInProgress"
                                value="{{ instance.InstanceName }}" name="{{ instance.InstanceName }}" [(ngModel)]="instancesSelected[i].Selected" />
                            {{
                            instance.InstanceName}}
                        </div>
                    </td>
                </tr>
            </table>

            <div style="text-align:right">
                <div class="col" *ngIf="operationInProgress">
                    <i class="fa fa-circle-o-notch fa-spin spin-icon" aria-hidden="true"></i>
                    {{ operationStatus }}
                </div>

                <button [disabled]="getSelectedInstanceCount() === 0 || sessionInProgress || operationInProgress || retrievingInstancesFailed" [hidden]="sessionCompleted"
                    class="btn btn-primary" (click)="collectJfrTrace()" (keyup.enter)="collectJfrTrace()" (keyup.space)="collectJfrTrace()">Collect
                    JAVA Flight Recorder Trace</button>
                    <div *ngIf="getSelectedInstanceCount() === 0" style="font-size: smaller;color: red;margin-top: 5px;margin-right: 10px;">* Choose at least one instance</div>

            </div>

            <div class="status-box" *ngIf="sessionInProgress">
                <div *ngIf="!cancellingSession">
                    <select id="selectInstances" (change)="onInstanceChange($event.target.value)">
                        <option *ngFor="let instancestatus of instancesStatus | mapValues" value={{instancestatus.key}}>
                            {{instancestatus.key}}
                        </option>
                    </select>
                    <step-wizard [CurrentStep]="sessionStatus" [WizardSteps]="WizardSteps" [WizardStepStatus]="WizardStepStatus"></step-wizard>
                    <div *ngIf="sessionStatus >= 4 " style="text-align:right">
                        <button class="btn btn-primary btn-sm" (click)="cancelSession()" *ngIf="!cancellingSession">Cancel</button>
                    </div>
                </div>
                <div *ngIf="cancellingSession">
                    <i class="fa fa-circle-o-notch fa-spin spin-icon" aria-hidden="true"></i>
                    Cancelling...
                </div>
            </div>
        </div>
        <div class="focus-box focus-box-warning" style="margin-top:20px;word-wrap: break-word;" *ngIf="error">
            <div *ngIf="error.code === 'GatewayTimeout'">
                <strong>Error</strong> - Failed to fetch instances for the Web App. The instance may fail to respond to
                any diagnostic
                calls under high CPU situations. Please retry this investigation after some time.
            </div>
            <div *ngIf="error.code != 'GatewayTimeout'">
                <strong>Error</strong> - {{ error }}
            </div>
        </div>
        <div class="focus-box focus-box-warning" style="margin-top:20px" *ngIf="instancesChanged">
            <strong>Error</strong> - We detected that instances serving the Web App has changed so please re-select the
            instances
            and run diagnostics again.
        </div>
    </div>

    <div style="margin-top:10px;" *ngIf="Logs.length > 0">
        <table class="table table-bordered table-responsive">
            <thead class="thead-light">
                <tr>
                    <th>Data</th>
                    <th *ngIf="collectionMode === 0">Reports</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <ul *ngIf="Logs.length > 0" style="list-style: none;padding:0">
                            <li *ngFor="let log of Logs">
                                <a (click)="openFile(log.RelativePath)" style="cursor: pointer">
                                    {{ log.FileName }}
                                </a>
                            </li>
                        </ul>
                    </td>
                    <td *ngIf="collectionMode === 0">
                        <ul *ngIf="Reports.length > 0" style="list-style: none;padding:0">
                            <li *ngFor="let report of Reports">
                                {{ getInstanceNameFromReport(report.FileName) }}
                                <a (click)="openFile(report.RelativePath)" style="cursor: pointer">
                                    <i class="fa fa-external-link" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                        <div *ngIf="sessionStatus >= 3 && sessionInProgress">
                            <i class="fa fa-circle-o-notch fa-spin spin-icon" aria-hidden="true"></i>
                            {{ sessionStatus === 3 ? 'Waiting...' : 'Analyzing...' }}
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>