<div class="category-container" style="width:60%">
  <h2>Crash Monitoring</h2>
  <p class="category-description">
    If your app is experiencing crashes, enable Crash Monitoring to collect memory dumps and callstack information to
    identify the root cause of the crashes. Starting or stopping the monitoring will restart the app.
    <a target="_blank" href="https://aka.ms/app-service-diagnostics-crash-monitoring">Learn more</a>
  </p>

  <div *ngIf="status < toolStatus.Loaded">
    <i class="fa fa-circle-o-notch fa-spin spin-icon" aria-hidden="true"></i>
    Loading...
  </div>

  <div *ngIf="status >= toolStatus.Loaded" style="margin-top: 40px;">
    <collapsible-list-fabric [collapsed]="collapsed" [title]="'Configure'">
      <div header class="container">
        <div header class="summaryText">
          {{ getMonitoringSummary() }}
        </div>
      </div>
      <collapsible-list-item body>
        <div class="container">
          <div>
            <div class="row mt-4">
              <div class="col-md-3 field-label">
                Storage account <span class="required">*</span>

                <fab-tooltip-host
                  content="The selected storage account will store the memory dumps captured via Crash Monitoring. It is strongly advised that you use one storage account per app. Selecting a storage account already in use for another app may cause Crash Monitoring to fail"
                  [directionalHint]="directionalHint" [tooltipOptions]="toolTipOptionsValue">
                  <img src="assets/img/info.svg" />
                </fab-tooltip-host>

              </div>
              <div class="col-md-2">
                <span> {{ monitoringEnabled || storageConfiguredAsAppSetting ? chosenStorageAccount : ""}}
                </span>
                <div class="mt-1 mb-4" (click)="toggleStorageAccountPanel()"
                  (keyup.enter)="toggleStorageAccountPanel()">
                  <a role="button" name="Change storage account" aria-label="Change storage account">
                    {{ chosenStorageAccount && (monitoringEnabled || storageConfiguredAsAppSetting) ? 'Change' : 'Select' }}</a>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3 field-label">
                Start time <span class="required">*</span>
                <fab-tooltip-host content="Crash Monitoring session will begin at the selected time."
                  [directionalHint]="directionalHint" [tooltipOptions]="toolTipOptionsValue">
                  <img src="assets/img/info.svg" />
                </fab-tooltip-host>

              </div>
              <div class="col-md-2">
                <fab-date-picker *ngIf="!monitoringEnabled" [minDate]="minDate" [maxDate]="maxDate"
                  placeholder="Select a date..." ariaLabel="Select start date" allowTextInput="true"
                  showMonthPickerAsOverlay="true" (onSelectDate)="onSelectStartDateHandler($event)"
                  [formatDate]="formatDate" [value]="startDate">
                </fab-date-picker>
                <span *ngIf="monitoringEnabled">{{ formatDateToString(startDate) }}</span>
                <div class="mt-1 mb-4">
                  <span *ngIf="monitoringEnabled">{{ startClock }}</span>
                  <fab-masked-text-field *ngIf="!monitoringEnabled" maxLength="6" [(value)]="startClock"
                    [iconProps]="{iconName: 'Clock'}" [mask]="'99:99'" [maskChar]="'-'" [validateOnFocusOut]="true"
                    [disabled]="monitoringEnabled" [getErrorMessage]="getErrorMessageOnTextField">
                  </fab-masked-text-field>
                </div>
              </div>
              <div>
                (UTC)
              </div>
            </div>
            <div class="row">
              <div class="col-md-3 field-label">
                Stop time <span class="required">*</span>
                <fab-tooltip-host
                  content="Crash Monitoring session will end at the selected time regardless of the maximum number of dumps. To completely disable the tool after the session is completed, please disable the agent."
                  [directionalHint]="directionalHint" [tooltipOptions]="toolTipOptionsValue">
                  <img src="assets/img/info.svg" />
                </fab-tooltip-host>

              </div>
              <div class="col-md-2">
                <fab-date-picker *ngIf="!monitoringEnabled" [minDate]="minDate" [maxDate]="maxDate"
                  placeholder="Select a date..." ariaLabel="Select end date" allowTextInput="true"
                  showMonthPickerAsOverlay="true" (onSelectDate)="onSelectEndDateHandler($event)"
                  [formatDate]="formatDate" [value]="endDate" [disabled]="monitoringEnabled">
                </fab-date-picker>
                <span *ngIf="monitoringEnabled">{{ formatDateToString(endDate) }}</span>
                <div class="mt-1 mb-4">
                  <fab-masked-text-field *ngIf="!monitoringEnabled" maxLength="6" [(value)]="endClock"
                    [iconProps]="{iconName: 'Clock'}" [mask]="'99:99'" [maskChar]="'-'" [validateOnFocusOut]="true"
                    [getErrorMessage]="getErrorMessageOnTextField" [disabled]="monitoringEnabled">
                  </fab-masked-text-field>
                  <span *ngIf="monitoringEnabled">{{ endClock }}</span>
                </div>
              </div>
              <div>
                (UTC)
              </div>
            </div>
            <div class="row">
              <div class="col-md-3 field-label">
                Max No. of memory dump <span class="required">*</span>
                <fab-tooltip-host
                  content="After the maximum number of dumps are collected, Crash Monitoring session will end. To completely disable the tool after the session is completed, please disable the agent."
                  [directionalHint]="directionalHint" [tooltipOptions]="toolTipOptionsValue">
                  <img src="assets/img/info.svg" />
                </fab-tooltip-host>

              </div>
              <div class="col-md-2">
                <fab-dropdown *ngIf="!monitoringEnabled" id="downtimeFilter" role="combobox"
                  [options]="memoryDumpOptions" [defaultSelectedKey]="selectedDumpCount"
                  (onChange)="selectDumpCount($event)" [disabled]="monitoringEnabled">
                </fab-dropdown>
                <span *ngIf="monitoringEnabled">{{ selectedDumpCount }}</span>
              </div>
            </div>
          </div>

          <div class="row" *ngIf="error || errorMessage ||validationError">
            <div class="col-md-6 error-details">
              <i class="fa health-icon fa-times-circle unhealthy-icon-color" aria-hidden="true"></i>
              <span *ngIf="errorMessage">{{ errorMessage}}</span> &nbsp;<span *ngIf="error">{{ error}}</span>
              <span *ngIf="validationError">{{ validationError}}</span>
            </div>
          </div>

          <div class="mt-3 ml-3">
            <fab-primary-button contentStyle="margin-right:10px;float:left" [disabled]="monitoringEnabled"
              (onClick)="startMonitoring()">
              Start monitor
            </fab-primary-button>
            <div style="float:left;padding-top: 6px;" *ngIf="status === toolStatus.SavingCrashMonitoringSettings">
              <i class="fa fa-circle-o-notch fa-spin spin-icon" aria-hidden="true"></i>
              Saving...
            </div>
          </div>
        </div>
      </collapsible-list-item>
    </collapsible-list-fabric>

    <crash-monitoring-analysis (settingsChanged)="monitoringSettingsChanged($event)" #crashMonitoringAnalysisRef
      [crashMonitoringSettings]="crashMonitoringSettings">
    </crash-monitoring-analysis>

  </div>
</div>