
<div class="panel panel-default data-container-card" style="margin-top:20px">
  <div class="panel-heading data-container-header">
  </div>
  <div class="panel-body data-container-body">
    <markdown ngPreserveWhitespaces>
      ## App Service Environment v3 (preview)
      Documents to aid in troubleshooting

      - <a href="https://docs.microsoft.com/en-us/azure/app-service/environment/overview"
        target="_blank">App Service Environment overview - Azure App Service Environment | Microsoft Docs</a>
      - <a href="https://docs.microsoft.com/en-us/azure/app-service/environment/using"
        target="_blank">Use an App Service Environment - Azure App Service Environment | Microsoft Docs</a>
      - <a href="https://docs.microsoft.com/en-us/azure/app-service/environment/networking" target="_blank">App Service Environment Networking - Azure App Service Environment | Microsoft Docs</a>
    </markdown>
  </div>
</div>
