<div class="panel with-nav-tabs panel-default app-container">
  <div class="panel-heading app-nav-bar">
    <ul class="nav nav-tabs">

      <li role="tab" class="app-nav-tab" *ngFor="let tab of navigationItems; let i = index"
          tabindex="0" [routerLink]="tab.isActive? []: [tab.url]" (keyup.enter)="navigateTab(i)" [ngClass]="{'active':  tab.isActive}">
        <a>
          {{tab.title}}
          <i *ngIf="i !== 0" class="fa fa-times" (click)="closeTab(i)" (keyup.enter)="closeTab(i)" tabindex="0" style="margin-left:10px"></i>
        </a>
      </li>

    </ul>
  </div>

  <div id="app-content" class="panel-body">
    <notification></notification>
    <div class="tab-content container-fluid">
      <ng-content></ng-content>
    </div>
  </div>
</div>
