<div class="panel with-nav-tabs panel-default app-container">
  <div class="panel-heading app-nav-bar">
      <ul class="nav nav-tabs">

          <li role="presentation" class="app-nav-tab" *ngFor="let tab of navigationItems; let i = index" [routerLink]="[tab.url]" [ngClass]="{'active':  tab.isActive}">
              <a>
                  {{tab.title}}
                  <i *ngIf="i !== 0" class="fa fa-times" aria-hidden="true" (click)="closeTab(i)" style="margin-left:10px"></i>
              </a>
          </li>

      </ul>
  </div>
  <!-- <incident-notification></incident-notification> -->
  <div id="app-content" class="panel-body" [style.max-height.px]="contentMaxHeight">
      <notification></notification>
      <div class="tab-content container-fluid">
          <ng-content></ng-content>
      </div>
  </div>
</div>