<div class="view-container">

  <ngx-smart-modal #publishModal identifier="publishModal" [customClass]="'publish-dialog'">
    <div>
      <h4>Confirm?</h4>
      <hr style="margin-top: 10px;margin-bottom: 10px;">
      <span>Published changes will be live in Applens and App Services "Diagnose and Solve" blade for external
        customers if the detector is marked public.</span>
      <search-term-addition [allUtterances]="allUtterances" [recommendedUtterances]="recommendedUtterances"
        [utteranceInput]="utteranceInput" [detectorId]="id"></search-term-addition>
      <div style="margin-top:10px;margin-bottom: 10px;position: relative;">
        <button type="button" class="btn btn-primary" (click)="publish()"
          [class.disabled]="modalPublishingButtonDisabled" style="margin-right:6px">
          {{modalPublishingButtonText}}
        </button>
        <button type="button" class="btn btn-danger" (click)="publishModal.close()">Cancel</button>
      </div>
    </div>
  </ngx-smart-modal>

  <ngx-smart-modal #packageModal identifier="packageModal" [customClass]="'package-modal'">
    <div>
      <h4>Gist Version Management</h4>
      <hr style="margin-top: 10px;margin-bottom: 10px;">

      <div class="container-fluid">
        <div class="col-md-1">
          <ng-select [items]="gists" [(ngModel)]="selectedGist"></ng-select>
        </div>
        <div class="col-md-11">
          <gist-changelist *ngIf="selectedGist" [(id)]="selectedGist"
            [(version)]="temporarySelection[selectedGist]['version']" (change)="gistVersionChange($event)">
          </gist-changelist>
        </div>
      </div>

      <div style="margin-top: 10px;margin-bottom: 10px">
        <button type="button" class="btn btn-primary" (click)="confirm()">Confirm</button>
        <button type="button" class="btn btn-danger" (click)="cancel()">Cancel</button>
      </div>
    </div>
  </ngx-smart-modal>

  <ngx-smart-modal #devModeModal identifier="devModeModal" [customClass]="'wide-modal'">
    <div class="modal-header" style="background-color: #373277; padding: 10px 15px 10px 15px">
      <h4 class="modal-title" id="myModalLabel" style="color:white">Get Developing Options</h4>
    </div>
    <div class="modal-content">
      <div id="dev-box">
        <div>
          <h4 style="font-weight: bold; color:#373277">Local Development Prerequisites</h4>
          <p>1. Make sure you have installed
            <a href="https://code.visualstudio.com/" target="_blank">Visual Studio Code</a> and <a
              href="https://marketplace.visualstudio.com/items?itemName=ms-dotnettools.csharp" target="_blank">C#
              extension
            </a> locally.
          </p>
          <p>2. Install
            <a href="https://nodejs.org/en/" target="_blank">Node.js
            </a> with version 8.x or later.
          </p>
          <p>2. Install
            <a href="https://git-scm.com/download/win" target="_blank">Git
            </a> locally.
          </p>
          <br>

          <h4 style="font-weight: bold; color: #373277">Local Development Instructions</h4>
          <p>1. Download local detector packages</p>
          <p>2. Extract the zip file</p>
          <p>3. Launch the startup.cmd</p>
        </div>

        <a class="custom-btn custom"
          href="https://msit.microsoftstream.com/video/a90ea3b0-55bb-4b96-a43b-a4de363e1f4a?list=studio"
          target="_blank">
          <i class="fa fa-play-circle"></i> Watch Demo Video
        </a>

        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="hiddenModal" [checked]="hideModal"
            (change)="hideModal = !hideModal">
          <label class="form-check-lable" for="hiddenModal"
            style="color:lightslategray; font-weight: 100; margin-top: 30px">Don't show this message
            automatically</label>
        </div>
        <div style="margin-top:0px;margin-bottom: 10px; padding-top: 10px; padding-bottom: 20px">
          <button type="button" class="btn"
            style="background-color: #373277; color:white; padding:0px 10px 0px 0px; margin-right: 10px; height: 35px;"
            (click)="downloadLocalDevTools()" [class.disabled]="localDevButtonDisabled">
            <img src="assets\img\Local-Dev-Logo.png"> {{localDevText}}
          </button>
          <span style="font-weight:bold">OR</span>
          <button type="button" class="btn"
            style="background-color: white; border-color: #373277; color:#373277; height: 33px; margin-left: 10px; height: 35px;"
            (click)="dismissDevModal()">Continue Online</button>
        </div>
      </div>
    </div>
  </ngx-smart-modal>

  <ngx-smart-modal #publishAccessDeniedModal identifier="publishAccessDeniedModal" [customClass]="'wide-modal'"
    class="publishAccessDenied">
    <div class="modal-header">
      <img src="assets/img/access-denied.svg" width="70" height="70" class="modal-logo" />
      <div class="modal-title-container">
        <h4 class="modal-title">Access Denied</h4>
        <span class="modal-sub-title">Unable to Publish Public Detectors</span>
      </div>
    </div>
    <div class="modal-content">

      <div class="content-row">
        <span>
          The following team has restricted access to publish public-facing detectors.
          <br />
          Please reach out to the owners in case you want to publish your changes for this detector.
        </span>
        <li class="bullet-point">
          <span>{{publishAccessControlResponse.serviceName}}</span>
          <span style="color: rgb(95, 95, 95);"> ({{publishAccessControlResponse.resourceType}})</span>
        </li>
      </div>

      <div class="content-row">
        You need to be part of following group(s):
        <li *ngFor="let item of publishAccessControlResponse.allowedGroupsToPublish" class="bullet-point">
          <span>{{item}}</span>
        </li>
      </div>

      <div class="content-row">
        <button type="button" class="btn btn-primary" (click)="publishingAccessDeniedEmailOwners()">Email
          Owners</button>
      </div>
    </div>
  </ngx-smart-modal>

  <fab-dialog [hidden]="publishDialogHidden || !detectorGraduation" (onDismiss)="dismissDialog()">
    <fab-dialog-content [title]="dialogTitle" [subText]="dialogSubText">
      <fab-text-field [label]="branchName" [(value)]="Branch" [placeholder]="branchPlaceholder"></fab-text-field>
      <fab-text-field [label]="PRName" [(value)]="PRTitle" [placeholder]="PRPlaceholder"></fab-text-field>
      <fab-text-field [label]="PRDescription" [(value)]="PRDesc" [placeholder]="PRDescriptionPlaceholder"
        [required]="true" [multiline]="true"></fab-text-field>
      <fab-primary-button [text]="publishButtonText" (onClick)="publish()"></fab-primary-button>
      <fab-default-button [text]="cancelButtonText" (onClick)="publishDialogCancel()"></fab-default-button>
    </fab-dialog-content>
    <fab-dialog-footer>

    </fab-dialog-footer>
  </fab-dialog>

  <fab-dialog [hidden]="gistDialogHidden" (onDismiss)="dismissGistDialog()">
    <fab-dialog-content [title]="gistUpdateTitle">
      <fab-dropdown *ngIf="gists.length > 0" label="Gist name" placeholder="Field value"
        [options]="gistsDropdownOptions" (onChange)="updateGistVersionOptions($event)"></fab-dropdown>
      <fab-dropdown [disabled]="!gistName" label="Gist version" (onChange)="gistVersionOnChange($event)" placeholder="Field value" [options]="gistVersionOptions">
      </fab-dropdown>
      <div class="mt-5">
        <fab-primary-button *ngIf="gists.length > 0" text="Update" (onClick)="gistVersionChange()" class="mr-3"></fab-primary-button>
        <fab-default-button text="Cancel" (onClick)="dismissGistDialog()"></fab-default-button>
      </div>
    </fab-dialog-content>
  </fab-dialog>


  <fab-panel [isOpen]="publishSuccess || publishFailed" [isLightDismiss]="true" [type]="PanelType.custom"
    [customWidth]="'315px'" [isHiddenOnDismiss]="true" [hasCloseButton]="true" [closeButtonAriaLabel]="'close'"
    [styles]="submittedPanelStyles" [isBlocking]="false" (onDismissed)="dismissPublishSuccessHandler()"
    (onOpen)="onOpenPublishSuccessPanel()">
    <div class="submitted-panel-text panel-text">
      <div style="display: flex;align-items: baseline;">
        <ng-container *ngIf="publishSuccess">
          <status-icon [status]="HealthStatus.Success" class="mr-3"></status-icon>
          <div>Your detector {{detectorName}} was saved</div>
        </ng-container>

        <ng-container *ngIf="publishFailed">
          <status-icon [status]="HealthStatus.Critical" class="mr-3"></status-icon>
          <div>Your detector {{detectorName}} publish failed </div>
        </ng-container>

      </div>
      <div>{{currentTime}}</div>
    </div>
    <div *ngIf="publishSuccess">You can find it in "Your detectors" later.</div>
  </fab-panel>


  <detector-time-picker [target]="'#develop-tab-timepicker'" [openTimePickerCalloutObservable]="openTimePickerSubject">
  </detector-time-picker>

  <div *ngIf="showAlert" class="alert alert-container" [ngClass]="alertClass" role="alert">
    {{alertMessage}}
  </div>
  <loader-view *ngIf="!codeLoaded" message="Starting onboarding flow ..."></loader-view>


  <fab-command-bar [attr.id]="'fab-command-bar'"
    contentStyle="border-bottom:1px solid gray;font-weight:12px; height:40px" contentClass="fab-command-bar-class">
    <items>
      <fab-command-bar-item key="run" [text]="runButtonText" [iconProps]="{ iconName: 'Play' }"
        (click)="runCompilation()" [buttonStyles]="runButtonStyle"></fab-command-bar-item>
      <fab-command-bar-item *ngIf="!detectorGraduation" key="publish" [text]="modalPublishingButtonText"
        [iconProps]="{ iconName: 'Upload' }" (click)="publish()" [buttonStyles]="publishButtonStyle">
      </fab-command-bar-item>
      <fab-command-bar-item *ngIf="detectorGraduation" key="publishGrad" [text]="modalPublishingButtonText"
        [iconProps]="{ iconName: 'Upload' }" (click)="showPublishDialog()" [buttonStyles]="publishButtonStyle">
      </fab-command-bar-item>
      <fab-command-bar-item key="download" text="Download" [iconProps]="{ iconName: 'Download' }"
        (click)="getDevOptions()"></fab-command-bar-item>
      <fab-command-bar-item key="gistVersion" text="Gist version" [iconProps]="{ iconName: 'BackToWindow' }"
        (click)="showGistDialog()"></fab-command-bar-item>
      <fab-command-bar-item key="internal" [text]="internalExternalText" [iconProps]="{ iconName: 'View' }"
        (click)="internalExternalToggle()"></fab-command-bar-item>
      <far-items>
        <fab-command-bar-item *ngIf="detectorGraduation" key="custom1" text="custom text">
          <render>
            <ng-template let-item="item">
              <div style="padding-top:1px!important;">
                <fab-default-button id="develop-tab-branch-selector" (click)="toggleCallout()" [styles]="buttonStyle"
                  [ariaLabel]="displayName" [iconProps]="{ iconName: 'BranchSearch' }">Branch : </fab-default-button>
                <fab-callout *ngIf="isCallOutVisible" (onDismiss)="closeCallout()" [setInitialFocus]="true"
                  [target]="'#develop-tab-branch-selector'">
                  <div>
                    <fab-choice-group [options]="optionsForSingleChoice" [selectedKey]="selectedKey"></fab-choice-group>
                  </div>
                  <fab-primary-button (onClick)="updateTableWithOptions()" (keyup.enter)="updateTableWithOptions()"
                    [ariaLabel]="'Apply'" contentClass="mr-3 callout-button" contentStyle="border-radius: 2px;">Apply
                  </fab-primary-button>
                  <fab-default-button (onClick)="closeCallout()" (keyup.enter)="closeCallout()" [ariaLabel]="'Cancel'"
                    contentStyle="border-radius: 2px;">Cancel</fab-default-button>
                </fab-callout>
              </div>
            </ng-template>
          </render>
          <render-icon>
            <ng-template let-contextualMenuItemProps="contextualMenuItemProps">
              <div>custom icon</div>
            </ng-template>
          </render-icon>
        </fab-command-bar-item>
        <fab-command-bar-item key="custom1" text="custom text">
          <render>
            <ng-template let-item="item">
              <div style="padding-top:1px!important;">
                <fab-default-button id="develop-tab-timepicker" (onClick)="openTimePickerSubject.next(true);"
                  [styles]="buttonStyle" [ariaLabel]="displayName" [iconProps]="{ iconName: 'clock' }">Time range (UTC)
                  : {{timePickerButtonStr}}</fab-default-button>
                <fab-callout *ngIf="timeCallOutVisible" (onDismiss)="closeTime()" [setInitialFocus]="true"
                  [target]="filterSelector">
                  <div>
                    <fab-choice-group [options]="optionsForSingleChoice" [selectedKey]="selectedKey"></fab-choice-group>
                  </div>
                  <fab-primary-button (onClick)="updateTableWithOptions()" (keyup.enter)="updateTableWithOptions()"
                    [ariaLabel]="'Apply'" contentClass="mr-3 callout-button" contentStyle="border-radius: 2px;">Apply
                  </fab-primary-button>
                  <fab-default-button (onClick)="closeTimeCallout()" (keyup.enter)="closeTimeCallout()"
                    [ariaLabel]="'Cancel'" contentStyle="border-radius: 2px;">Cancel</fab-default-button>
                </fab-callout>
              </div>
            </ng-template>
          </render>
          <render-icon>
            <ng-template let-contextualMenuItemProps="contextualMenuItemProps">
              <div>custom icon</div>
            </ng-template>
          </render-icon>
        </fab-command-bar-item>
      </far-items>
    </items>
  </fab-command-bar>

  <div *ngIf="codeLoaded" class="onboarding-container">
    <split [direction]="horizontal" gutterSize="8" gutterColor="#dff0ff">
      <split-area size="60">
        <split direction="vertical" gutterSize="8" gutterColor="rgb(249, 233, 212)">
          <split-area size="85">
            <!-- <detector-control *ngIf="mode === DevelopMode.Create || mode === DevelopMode.Edit">
            </detector-control> -->
            <!-- <div class="code-container-header">

              <div class="file-tab active">
                {{fileName}}
              </div>

              <div (click)="showPublishDialog()" class="action-button publish-button"
                [class.disabled]="publishButtonDisabled">
                <i class="fa fa-cloud-upload"></i>
                {{publishButtonText}}
              </div>

              <div (click)="runCompilation()" class="action-button run-button"
                [ngClass]="{'disabled': runButtonDisabled }">
                <i [ngClass]="runButtonIcon"></i>
                {{runButtonText}}
              </div>

              <div (click)="getDevOptions()" *ngIf="!gistMode" class="action-button run-button"
                [ngClass]="{'disabled': localDevButtonDisabled }">
                <i [ngClass]="devOptionsIcon"></i>
                {{localDevText}}
              </div>

              <div (click)="managePackage()" class="action-button run-button">
                <i class="fa fa-cubes"></i>
                Manage Package
              </div>
            </div> -->

            <ngx-monaco-editor (onInit)="onInit($event)" style="height:calc(100% - 100px)" [options]="editorOptions" [(ngModel)]="code">
            </ngx-monaco-editor>

          </split-area>
          <split-area size="15">
            <div class="compilation-output-container">
              <div *ngIf="!showDetailedCompilationTraces">
                <div *ngFor="let item of buildOutput" class="compilation-output">{{item}}</div>
              </div>
              <div *ngIf="showDetailedCompilationTraces" class = "compilation-detailed-output-container">
                <div class = "compilation-detailed-output-rowEntry" *ngFor = "let item of detailedCompilationTraces"
                [ngClass]="[isCompilationTraceClickable(item)? 'compilation-detailed-output-clickable' : '']" 
                (click) = navigateToEditorIfApplicable(item) >
                  <div class="compilation-detailed-output-entryCell compilation-detailed-output-iconCell">
                    <span class="fa status-icon" [ngClass] = "getfaIconClass(item)"></span>
                  </div>
                  <div class="compilation-detailed-output-entryCell">
                    <span>{{item.message}}</span>
                  </div>
                </div>
              </div>
            </div>
          </split-area>
        </split>

      </split-area>
      <split-area style="margin-left:10px" size="40" *ngIf="!gistMode">
        <fab-pivot [styles]="pivotStyle">
          <fab-pivot-item [headerText]="'Data'">
            <detector-view *ngIf="queryResponse" [detectorResponse]="queryResponse.invocationOutput"
              [startTime]="startTime" [endTime]="endTime" [error]="errorState" [showEdit]="false"
              [developmentMode]="true" [script]="code" [compilationPackage]="compilationPackage" [hideDetectorHeader]="true"></detector-view>
          </fab-pivot-item>
          <fab-pivot-item [headerText]="'Data source'">
            <tab-data-sources *ngIf="queryResponse" [onboardingMode]="true"
              [detectorResponse]="queryResponse.invocationOutput">
            </tab-data-sources>
          </fab-pivot-item>
        </fab-pivot>
        <!-- <div class="invocation-output-title-container">
          
          <div class="invocation-title" [ngClass]="[!showDataSources ? 'active' : '']"
            (click)="queryResponse ? showDataSources=false : false">
            Detector Output
          </div>
          <div class="invocation-title" [ngClass]="[showDataSources ? 'active' : '']"
            (click)="queryResponse ? showDataSources=true : false">
            Data Sources
          </div>
        </div> -->

        <div style="padding:10px">
          <!-- <detector-view *ngIf="queryResponse && !showDataSources" [detectorResponse]="queryResponse.invocationOutput"
            [startTime]="startTime" [endTime]="endTime" [error]="errorState" [showEdit]="false" [developmentMode]="true" [script]="code" [compilationPackage]="compilationPackage"></detector-view> -->

          <!-- <tab-data-sources *ngIf="queryResponse && showDataSources" [onboardingMode]="true"
            [detectorResponse]="queryResponse.invocationOutput">
          </tab-data-sources> -->
          <nav class="dev-options">
            <a (click)="getDevOptions()" tooltip="Local VS Development" class="buttons">
              <span>
                <span class="rotate"></span>
              </span>
            </a>
          </nav>
        </div>
      </split-area>
    </split>
  </div>
</div>