<div class="stepper-container" *ngIf="analysisResponse && analysisResponse.abnormalTimePeriods.length > 0" [ngClass]="{'stepper-container-nopadding':openedFromTicketOpeningFlow}">
    <div class="stepper-step">
        <div class="stepper-circle">
            <i class="fa fa-search" aria-hidden="true"></i>
        </div>
        <div class="stepper-title">
            Observations
        </div>
        <div class="stepper-description">
            Events correlated during this time period
        </div>
        <div>
            <div class="stepper-content">
                <div *ngIf="analysisResponse.abnormalTimePeriods[selectedTimePeriodIndex].events.length <= 0" style="padding:10px;font-size:16px">
                    The system could not detect any events of interest during this time period
                </div>
                <table class="table table-hover table-responsive no-border" *ngIf="analysisResponse.abnormalTimePeriods[selectedTimePeriodIndex].events.length > 0">
                    <thead>
                        <tr>
                            <th>Observation</th>
                            <th>Description</th>
                            <th>Links</th>
                        </tr>
                    </thead>

                    <tr *ngFor="let event of analysisResponse.abnormalTimePeriods[selectedTimePeriodIndex].events">
                        <td style="white-space: nowrap">
                            <b>{{getIssueTypeTag(event.source)}}</b>
                        </td>
                        <td>{{event.message}}</td>
                        <td style="white-space: nowrap">
                            <a class="btn btn-link" (click)="detectorViewClick(event)">
                                More Info
                                <i class="fa fa-arrow-circle-o-right" style="font-size: 15px"></i>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="stepper-step" *ngIf="appInsightsValid && showAppInsights">
        <div class="stepper-circle stepper-circle-purple">
            <img src="https://azure.microsoft.com/svghandler/application-insights/?width=16&amp;height=16">
        </div>
        <div class="stepper-title">
            Application Insights
        </div>
        <div class="stepper-description">
            <!-- TODO : This code needs to be refactored in a proper way. -->
            <div *ngIf="parentContainer === 'appanalysis'">Application Exceptions that occured during this time period</div> 
            <div *ngIf="parentContainer === 'perfanalysis'">Top Slowest Dependencies during this time period</div> 
        </div>
        <div>
            <div class="stepper-content">
                <app-insights-exceptions *ngIf="parentContainer === 'appanalysis'" [includeMessage]="!openedFromTicketOpeningFlow" [startTime]="analysisResponse.abnormalTimePeriods[selectedTimePeriodIndex].startTime"
                    [endTime]="analysisResponse.abnormalTimePeriods[selectedTimePeriodIndex].endTime"></app-insights-exceptions>
                <app-insights-dependencies *ngIf="parentContainer === 'perfanalysis'" [startTime]="analysisResponse.abnormalTimePeriods[selectedTimePeriodIndex].startTime"
                [endTime]="analysisResponse.abnormalTimePeriods[selectedTimePeriodIndex].endTime"></app-insights-dependencies>
            </div>
        </div>
    </div>
    <div class="stepper-step">
        <div class="stepper-circle stepper-circle-green">
            <i class="fa fa-wrench" aria-hidden="true"></i>
        </div>
        <div class="stepper-title">
            Troubleshooting and Next Steps
        </div>
        <div class="stepper-description">
            Next steps curated specifically for your app
        </div>

        <solutions-widget [showTitle]="false" [smallMenu]="openedFromTicketOpeningFlow" [defaultSolutions]="defaultSolutions" [solutionModels]="analysisResponse.abnormalTimePeriods[selectedTimePeriodIndex].solutions"></solutions-widget>
    </div>
</div>

<div class="stepper-container" *ngIf="analysisResponse && analysisResponse.abnormalTimePeriods.length <= 0">
    <div class="stepper-step">
        <div class="stepper-circle stepper-circle-green">
            <i class="fa fa-check" aria-hidden="true"></i>
        </div>
        <div class="stepper-title">
            Your application is healthy
        </div>
        <div class="stepper-description" *ngIf="problemDescription">
            No {{problemDescription}} detected in the past 24 hours
        </div>
    </div>
</div>