<default-solution-template [title]="title" [description]="description" [tags]="data.tags">

    <profiler [scmPath]="scmPath" [siteToBeDiagnosed]="siteToBeDiagnosed" (SessionsEvent)="updateSessions($event)">
    </profiler>

    <div class="header2">What you should know before performing a Profiler Trace</div>
    <ul>
        <li *ngFor="let statement of thingsToKnowBefore">{{statement}}</li>
    </ul>

    <daas-sessions [refreshSessions]="refreshSessions" DiagnoserNameLookup="CLR Profiler" [scmPath]="scmPath" [siteToBeDiagnosed]="siteToBeDiagnosed"></daas-sessions>

</default-solution-template>