.search-input{
  line-height: 20px;
  width: 100%;
  color: #464646;
  border: 1px solid #D8DCE1;
  border-radius: 2px;
  padding-left: 3px;
  background-color: #FCFCFC;
}

.search-input-box{
  display: inline-block;
  width: 40%;
  font-size: 13px;
}

.icon-err{
  font-size: 15px;
  color: #bf0000;
  margin-left: 10px;
  margin-top: 4px;
  position: absolute;
  cursor: pointer;
}

.search-icon{
  font-size: 15px;
  color: gray;
  margin-left: -20px;
  margin-top: 3px;
  position: absolute;
  cursor: pointer;
}

.search-box{
  display: block;
  height: 55px;
  width: 93%;
  padding-top: 15px;
  margin-left: 80px;
  margin-right: 16px;
  border-bottom: 1px solid #ddd;
}

::placeholder {
  color: #848080;
}

.cxp-chat-launcher-container {
  padding-top: 2em;
}

.align-width {
  width:98%;
}

.solution-header {
    width: 250px;
    height: 22px;
    left: 20px;
    top: 552px;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #323130;
}

.solution-description {
    width: 858px;
    height: 44px;
    left: 20px;
    top: 570px;

    /* msportalfx-text- / body */

    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    /* or 138% */

    display: flex;
    align-items: center;

    /* Light Theme / Text colors / Primary */

    color: #323130;
}

.keyword-solution-container {
    margin: 20px;
}
