<detector-container [detector]="analysisDetector" [isAnalysisView]="true"></detector-container>
<detector-list-analysis withinDiagnoseAndSolve="true" detectorParmName="detectorName"></detector-list-analysis>

<div [hidden]="detectorId === ''">
  <div>
    <div style="display: inline-block;margin-left: 20px">
      <h2>{{ detectorName }}</h2>
    </div>
    <div style="display: inline-block;margin-left: 10px">
      <a tabindex="0" (keyup.enter)="goBackToAnalysis()" aria-label="Link to go back to the analysis view" role="button"
        (click)="goBackToAnalysis()" *ngIf="detectorId !== ''">Back to Observations</a>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>