<div class="focus-box focus-box" [ngClass]="{'focus-box-healthy':analysisResponse.abnormalTimePeriods.length < 1}" *ngIf="selectedDowntimeIndex === -1">
    <h4 class="not-bold" style="margin-top:10px" *ngIf="selectedDowntimeIndex === -1">
            <span *ngIf="analysisResponse.abnormalTimePeriods.length < 1">Your application is performing normally</span>
            <span *ngIf="analysisResponse.abnormalTimePeriods.length > 0">Your application experienced performance problems in the last 24 hours</span>
    </h4>
    <div style="border-top: 1px solid rgb(180, 180, 180);max-width: 800px;">
        <h5 class="not-bold">
            <span *ngIf="analysisResponse.abnormalTimePeriods.length > 0">We detected periods during which the 50th percentile of your response time exceeded 10 seconds for your application. Select a period from the orange timeline above to investigate possible causes.</span>
            <span *ngIf="analysisResponse.abnormalTimePeriods.length < 1">No periods during which the 50th percentile of your response time exceeded 10 seconds in the last 24 hours.</span>
        </h5>
    </div>
</div>
<div class="focus-box focus-box" [ngClass]="{'focus-box-warning':downtimesViewModel[selectedDowntimeIndex].currentlyDown, 'focus-box-nobackground': !openedFromTicketFlow}" *ngIf="selectedDowntimeIndex >= 0 && downtimesViewModel && downtimesViewModel.length > 0">
    <h4 class="not-bold">
        {{downtimesViewModel[selectedDowntimeIndex].mainMessage}}
    </h4>
    <p style="max-width: 800px">{{downtimesViewModel[selectedDowntimeIndex].secondaryMessage}} 
        <a class="btn btn-link" *ngIf="showMoreDetailsLink" (click)="downtimesViewModel[selectedDowntimeIndex].showDetails = !downtimesViewModel[selectedDowntimeIndex].showDetails; logShowDetails()">
            <span *ngIf="analysisResponse.abnormalTimePeriods[selectedDowntimeIndex].events.length > 0 && !downtimesViewModel[selectedDowntimeIndex].showDetails && downtimesViewModel[selectedDowntimeIndex].currentlyDown">More Details</span>
            <span *ngIf="analysisResponse.abnormalTimePeriods[selectedDowntimeIndex].events.length > 0 && downtimesViewModel[selectedDowntimeIndex].showDetails && downtimesViewModel[selectedDowntimeIndex].currentlyDown">Less Details</span>
        </a>
    </p>
    <div *ngIf="downtimesViewModel[selectedDowntimeIndex].showDetails">
        Observations: 
        <div class="observation">
            <ul>
                <span *ngFor="let downtime of analysisResponse.abnormalTimePeriods[selectedDowntimeIndex].events">
                    <li>
                        {{downtime.message}}
                    </li>
                    <ul style="list-style: none">
                        <li *ngIf="showDetectorViewLink(downtime.source)"><a (click)="detectorViewClick(downtime)">View Details <i class="fa fa-arrow-circle-o-right" style="font-size: 15px" ></i></a></li>
                    </ul>
                </span>
            </ul>
        </div>
    </div>
</div>
