<div class="focus-box focus-box focus-box-healthy" *ngIf="selectedDowntimeIndex === -1">
    <h4 class="not-bold" style="margin-top:10px" *ngIf="selectedDowntimeIndex === -1">
            Your app is healthy right now.
    </h4>
    
    <div style="border-top: 1px solid rgb(180, 180, 180);max-width: 800px;">
    <h5 class="not-bold" *ngIf="analysisResponse.abnormalTimePeriods.length > 0">However, we did detect downtimes in the last 24 hours. Select one from the orange timeline above to investigate possible causes.</h5>
    
    <h5 class="not-bold" *ngIf="analysisResponse.abnormalTimePeriods.length < 1">No downtimes detected in the last 24 hours.</h5>
    </div>
</div>
<div class="focus-box focus-box" [ngClass]="{'focus-box-warning':downtimesViewModel[selectedDowntimeIndex].currentlyDown, 'focus-box-nobackground': !openedFromTicketFlow}" *ngIf="selectedDowntimeIndex >= 0 && downtimesViewModel && downtimesViewModel.length > 0">
    <h4 class="not-bold">
        {{downtimesViewModel[selectedDowntimeIndex].mainMessage}}
    </h4>
    <p style="max-width: 800px">{{downtimesViewModel[selectedDowntimeIndex].secondaryMessage}} 
        <a class="btn btn-link" *ngIf="showMoreDetailsLink" (click)="downtimesViewModel[selectedDowntimeIndex].showDetails = !downtimesViewModel[selectedDowntimeIndex].showDetails; logShowDetails()">
            <span *ngIf="analysisResponse.abnormalTimePeriods[selectedDowntimeIndex].events.length > 0 && !downtimesViewModel[selectedDowntimeIndex].showDetails && downtimesViewModel[selectedDowntimeIndex].currentlyDown">More Details</span>
            <span *ngIf="analysisResponse.abnormalTimePeriods[selectedDowntimeIndex].events.length > 0 && downtimesViewModel[selectedDowntimeIndex].showDetails && downtimesViewModel[selectedDowntimeIndex].currentlyDown">Less Details</span>
        </a>
    </p>
    <div *ngIf="downtimesViewModel[selectedDowntimeIndex].showDetails">

        <app-insights-exceptions [startTime]="analysisResponse.abnormalTimePeriods[selectedDowntimeIndex].startTime" [endTime]="analysisResponse.abnormalTimePeriods[selectedDowntimeIndex].endTime"></app-insights-exceptions>

        <span style="font-weight:500" *ngIf="analysisResponse.abnormalTimePeriods[selectedDowntimeIndex].events.length > 0">Other Observations:</span> 
        <div class="observation">
            <ul>
                <span *ngFor="let downtime of analysisResponse.abnormalTimePeriods[selectedDowntimeIndex].events">
                    <li>
                        {{downtime.message}}
                    </li>
                    <table *ngIf="showAbnormalTimePeriodMetadata(downtime)" class="table" style="margin-top:8px;margin-bottom:5px;">
                        <thead>
                            <tr>
                                <th *ngFor="let header of downtime.metaData[0]"><span>{{header.name}}</span></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let row of downtime.metaData">
                                <td *ngFor="let col of row" >{{col.value}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <ul style="list-style: none">
                        <li *ngIf="showDetectorViewLink(downtime.source)"><a (click)="detectorViewClick(downtime)">View Details <i class="fa fa-arrow-circle-o-right" style="font-size: 15px" ></i></a></li>
                    </ul>
                </span>
            </ul>
        </div>
    </div>
</div>
