<div *ngIf="showComponent" >
<div style="display: flex; font-size: 25px;" >
  <div *ngFor="let feedbackIcon of feedbackIcons;let i = index" (click)="setRating(i)"
    [ngClass]="{'selected-icon':rating - 1 === i}" style="padding: 5px;">
    <fab-icon [iconName]="feedbackIcon"></fab-icon>
  </div>
</div>
<div class="row" [ngClass]="{'animated fadeOut': showComponent === false}" style="padding-right:10px;margin: 10px 0px;">
    <div class="row" style="width:50%">
        <div class="col col-sm-12">
            <textarea aria-label="Enter feedback here" [(ngModel)]="feedbackMessage" class="form-control" rows="3" placeholder="Enter feedback here..."></textarea>
        </div>
    </div>
</div>
<div [ngClass]="{'animated bounceOutLeft': showComponent === false}">
    <button *ngFor="let item of buttonList; let i = index" type="button" class="custom-button bot-button" style="margin-right:20px;min-width:150px"
        (click)="onClick(item)">
        {{item.title}}
    </button>
</div>
</div>

<!--
<fabric-feedback-container [dimissObservable]="dismissSubject.asObservable()" [ratingEventProperties]="ratingEventProperties"></fabric-feedback-container>
 -->

<!--
 <div>
  <div [ngStyle]="{'display':submitted === false ? 'block': 'none'}">
    <div style="display:inline-flex">
      <svg class="svg-icon" viewBox="0 0 6 6" role="presentation" focusable="false"
        xmlns:svg="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="6px" height="6px">
        <g>
          <path
            d="M3.543 2.352l2.08-.716L6 2.687l-2.076.675L5.21 5.158l-.942.676-1.242-1.867-1.264 1.867-.97-.676 1.305-1.796L0 2.687.38 1.63l2.058.743V.233h1.105v2.119z"
            class="msportalfx-svg-c22"></path>
        </g>
      </svg>
      <p>Are you satisfied with your experience?</p>
    </div>
    <div style="display: flex; font-size: 25px;">
      <div *ngFor="let feedbackIcon of feedbackIcons;let i = index" (click)="setRating(i)"
        [ngClass]="{'selected-icon':rating - 1 === i}" style="padding: 5px;">
        <fab-icon [iconName]="feedbackIcon"></fab-icon>
      </div>
    </div>
    <textarea [(ngModel)]="feedbackText" placeholder="Tell us about your experience..." tabindex="0" rows="7"
      cols="40"></textarea>
    <div class="feedback-submit">
      <button (onClick)="submitFeedback()">Submit feedback</button>
    </div>
  </div>

  <div [ngStyle]="{'display':submitted === true ? 'block': 'none'}">
    <p>Thank you for your feedback</p>
    <div *ngIf="rating >= 3">
      <p>Share your experience with App Service Diagnostic !</p>
      <button>Tweet</button>
    </div>

    <div *ngIf="rating < 3">
      <p>Get Help from Genie to answer your questions on diagnosting problem of your application.</p>
      <div (click)="openGenieHandler()" class="feedback-btn">Ask Genie</div>
    </div>
  </div>
</div> -->
