<div class="container" style="margin-bottom: 15px">
  <div class="header1">Auto-Heal</div>
  <div style="font-size:13px">Auto-Heal provides you with an easy way to take an action when your app is having an
    unexpected behavior. The triggers
    and actions allow you to define various conditions based on request count, slow requests, memory limit on which you
    can
    take specific actions like restarting the process, logging an event, or starting another executable. Please note
    that
    these mitigations should only be considered a temporary workaround until you find the real cause for the issue
    causing
    the unexpected behavior.
  </div>

  <div style="margin-top:15px">
    <button type="button" class="btn btn-sm topmenu-button" [ngClass]="{'btn-primary':selectedTab === 'autoHealing'}"
      (click)="selectedTab = 'autoHealing'" [attr.aria-selected]="selectedTab === 'autoHealing'">
      Custom Auto-Heal Rules
    </button>
    <button type="button" class="btn btn-sm topmenu-button"
      [ngClass]="{'btn-primary':selectedTab === 'proactiveAutoHealing'}" (click)="selectedTab = 'proactiveAutoHealing'"
      [attr.aria-selected]="selectedTab === 'proactiveAutoHealing'">
      Proactive Auto-Heal
    </button>
    <button type="button" class="btn btn-sm topmenu-button"
      [ngClass]="{'btn-primary':selectedTab === 'autoHealingHistory'}" (click)="selectedTab = 'autoHealingHistory'"
      [attr.aria-selected]="selectedTab === 'autoHealingHistory'">
      History
    </button>
  </div>

  <div *ngIf="selectedTab === 'autoHealing'" style="border: 1px solid #adb0b7">

    <div style="margin-left:30px;width:80%">
      <div class="col" *ngIf="retrievingAutohealSettings" style="margin-top: 15px;margin-bottom: 15px">
        <i class="fa fa-circle-o-notch fa-spin spin-icon" aria-hidden="true"></i>
        Retrieving autoHealing settings...
      </div>

      <div *ngIf="errorMessage" class="alert alert-danger" style="margin-top:5px">
        {{ errorMessage }}
      </div>

      <div *ngIf="!retrievingAutohealSettings && !errorMessage">
        <div style="margin-top: 15px;">
          <toggle-button ToggleText="Custom Auto-Heal Rules Enabled" [selected]="autohealingSettings.autoHealEnabled"
            (selectedChange)="autohealingSettings.autoHealEnabled = $event; checkForChanges()"></toggle-button>
        </div>

        <div *ngIf="autohealingSettings.autoHealEnabled">
          <div class="header2">1. Define Conditions</div>
          <div class="autohealtile-content">
            <ng-container *ngFor="let trigger of triggers; let i = index;">
              <div class="autohealtile" tabindex="0" (click)="updateTriggerStatus(i)"
                [class.active]="triggerSelected ===  i" [class.activeAction]="triggers[i].IsConfigured">
                <div class="autohealtile-icon">
                  <div class="icon-template">
                    <i [class]="trigger.Icon"></i>
                  </div>
                  <div>{{ trigger.Name }}</div>
                </div>
              </div>
            </ng-container>

            <div class="forminput" *ngIf="triggerSelected >= 0">
              <autohealing-slowrequests-rule *ngIf="triggerSelected === 0"
                [rule]="autohealingSettings.autoHealRules.triggers.slowRequests"
                (ruleChange)="triggerRuleUpdated($event, triggerSelected)"></autohealing-slowrequests-rule>
              <autohealing-memory-rule *ngIf="triggerSelected === 1"
                [rule]="autohealingSettings.autoHealRules.triggers.privateBytesInKB"
                (ruleChange)="triggerRuleUpdated($event, triggerSelected)"></autohealing-memory-rule>
              <autohealing-requests-rule *ngIf="triggerSelected === 2"
                [rule]="autohealingSettings.autoHealRules.triggers.requests"
                (ruleChange)="triggerRuleUpdated($event, triggerSelected)"></autohealing-requests-rule>
              <autohealing-statuscodes-rule *ngIf="triggerSelected === 3"
                [rule]="autohealingSettings.autoHealRules.triggers.statusCodes"
                (ruleChange)="triggerRuleUpdated($event, triggerSelected)"></autohealing-statuscodes-rule>
            </div>
          </div>

          <div class="header2">2. Configure Actions</div>
          <div class="autohealtile-content">
            <ng-container *ngFor="let action of actions; let i = index;">
              <div class="autohealtile" [class.activeAction]="actionSelected == i" (click)="updateActionStatus(i)">
                <div class="autohealtile-icon">
                  <div class="icon-template">
                    <i [class]="action.Icon" aria-hidden="true"></i>
                  </div>
                  <div>{{ action.Name }} </div>
                </div>
              </div>
            </ng-container>

            <div [hidden]="actionCollapsed">
              <div [hidden]="actionSelected != 2">
                <autohealing-custom-action [siteToBeDiagnosed]="siteToBeDiagnosed" [customAction]="customAction"
                  (customActionChanged)="updateCustomAction($event)">
                </autohealing-custom-action>
              </div>

            </div>
          </div>

          <div class="header2">3. Override when Action executes (Optional)</div>
          <div class="autohealtile-content">
            <div class="autohealtile" [class.activeAction]="minProcessExecutionTime > 0"
              (click)="minProcessExecutionTimeExpanded = !minProcessExecutionTimeExpanded">
              <div class="autohealtile-icon">
                <div class="icon-template">
                  <i class="fa fa-clock-o" aria-hidden="true"></i>
                </div>
                <div>Startup Time </div>
              </div>
            </div>
          </div>
          <div class="autohealtile-content" *ngIf="minProcessExecutionTimeExpanded">
            <div class="forminput">
              <autohealing-startup-time [minProcessExecutionTime]="minProcessExecutionTime"
                (minProcessExecutionTimeChange)="saveMinProcessTimeChanged($event)">
              </autohealing-startup-time>
            </div>
          </div>

          <div class="header2">4. Review and Save your Settings</div>
          <div class="autohealtile-content">
            <div class="summary" *ngIf="originalSettings">
              <strong>Current Settings</strong>
              <autohealing-config-summary [autohealSettings]="originalSettings">
              </autohealing-config-summary>
              <div class="focus-box focus-box-warning" style="margin-top:20px;word-wrap: break-word"
                *ngIf="storageAccountLengthExceeding">
                Due to a limitation in Autohealing module, the length of the chosen storage account should be less than
                13 charachters. Please choose a different storage account or reduce the account length. This limitation
                will be removed in the upcoming versions of Azure App Service.
              </div>
            </div>
            <div class="summary" *ngIf="currentSettings && saveEnabled" style="margin-top:25px">
              <strong>New Settings</strong>
              <autohealing-config-summary [autohealSettings]="currentSettings">
              </autohealing-config-summary>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="!retrievingAutohealSettings  && !errorMessage && saveEnabled && validationWarning.length > 0">
        <table class="ml-4 mt-4 table table-bordered" style="width:90%">
          <thead>
            <tr>
              <th>
                <div style="padding: 10px">
                  <i class="fa health-icon fa-exclamation-triangle warning-icon-color"></i> Warning
                </div>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let warning of validationWarning">
              <td>{{ warning }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div *ngIf="!retrievingAutohealSettings  && !errorMessage" class="saveSection autohealtile-content">
        <button type="button" class="btn btn-primary" [disabled]="!saveEnabled" (click)="saveChanges()">Save</button>
        <button type="button" class="btn btn-primary" [disabled]="!saveEnabled" (click)="reset()">Cancel</button>
        <div *ngIf="savingAutohealSettings" class="inline ml-3">
          <i class="fa fa-circle-o-notch fa-spin spin-icon" aria-hidden="true"></i>
          Saving AutoHeal settings...
        </div>
        <div *ngIf="errorMessageSaving" class="alert alert-danger" style="margin-top:5px">
          {{ errorMessageSaving }}
        </div>
        <div *ngIf="changesSaved" class="inline" style="color:#0058ad">
          Changes Saved!
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="selectedTab === 'proactiveAutoHealing'" style="border: 1px solid #adb0b7">
    <div style="margin-left:30px;width:80%">
      <proactive-autohealing></proactive-autohealing>
    </div>
  </div>
  <div *ngIf="selectedTab === 'autoHealingHistory'" style="border: 1px solid #adb0b7">
    <detector-container detector="AutoHeal">
    </detector-container>
  </div>
</div>