.container {
    margin-left: 20px;
    margin-top: 20px;
}

.header1 {
    font-size: 24px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.header2 {
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.autohealtile {
    display: inline-block;
    margin: 0 2px;
    cursor: pointer;
    margin-bottom: 10px
}

.autohealtile-selected {
    border: 2px solid #0058ad;
    margin: 0;
}

.autohealtile-icon {
    padding: 10px;
    width: 130px;
    height: 70px;
    -webkit-box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, .2);
    box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, .2);
    text-align: center;
}

.autohealtile:hover {
    -webkit-box-shadow: 6px 6px 20px 0 rgba(0, 0, 0, .2);
    box-shadow: 6px 6px 20px 0 rgba(0, 0, 0, .2);
}

.icon-template {
    font-size: 17px;
}

.autohealtile-content {
    margin-left: 15px;
}

.forminput {
    margin-top: 15px;
    border: 1px solid whitesmoke;
    padding: 15px;
    border-radius: 1em;
    /* width:75%; */
}

.active {
    background-color: gainsboro;
}

.activeAction {
    color: #0058ad;
}

.image-btn {
    color: #0058ad;
    border: none;
    font-size: 16px;
    cursor: pointer;
    background-color: white;
}

.summary {
    border-bottom-left-radius: 0;
    border: 1px solid #e6e6e6;
    font-size: 12px;
    display: inline-block;
    padding: 5px;
    padding-right: 30px;
    border-radius: 10px;
    width:90%;
}

.saveSection {
    margin-top: 20px;
    margin-bottom: 10px;
}

input[type="text"], input[type="number"] {
    border: 1px solid #d8e1e6;
    position: relative;
    vertical-align: middle;
    height: 23px;
    padding: 0 5px;
    background-color: #fff;
    color: inherit;
    font-size: 12px;
}

input[type=text]:focus, input[type=number]:focus {
    border: 1px solid #0058ad;
    outline: 0
}

label {
    font-size: 13px;
    font-weight: 400;
    /* color: #595959; */
}

.alert {
    font-size: 12px;
    padding: 5px;
}

.rule-button {
    margin-top: 10px;
}

.form-group .row {
    line-height: 25px;
}

.topmenu-button{
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.btn-primary {
    background-color: #0058ad;
    border-color: #0058ad;
}

.btn.btn-primary:disabled{
    background-color: rgba(0, 89, 173, 0.9);
    border-color: rgba(0, 89, 173, 0.9);
}