.body-content {
   display: flex!important;
   height: calc(100vh - 100px);
 }

 section.sidebar {
     width: 265px;
     position: fixed;
     top: 0px;
     bottom: 0px;
     border-right: 1px solid #eee;
     overflow-y: scroll;
   }

   section.content {
     position: fixed;
     width:calc(100% - 265px);
     top: 0px;
     bottom: 0px;
     left: 265px;
     overflow-y: auto;
  }

.sidebar, .content{
 flex-basis: auto;
}

.App .header {
 position: fixed;
 height: 43px;
 width: 100%;
 padding-left: 25px;
 padding-right: 115px;
 box-shadow: inset 0px -1px 0px rgba(204, 204, 204, 0.8);
 border-bottom: 1px solid #eee;
}

.category-label {
 font-family: Segoe UI;
 font-style: normal;
 font-weight: 600;
 font-size: 18px;
 line-height: 24px;
 height: 25px;
}

.category-description {
 font-family: Segoe UI;
 font-style: normal;
 font-weight: normal;
 font-size: 10px;
 line-height: 14px;
 height: 18px;
 color: #605E5C;;
}