<div class="appinsights-tile">
    <div class="header">
        <img src="https://azure.microsoft.com/svghandler/application-insights/?width=25&height=25"> Application Insights
        <div class="tool-tip pull-right">
            <i class="fa fa-info-circle" style="color:#676767;float:right;padding-top:10px"></i>
            <span class="tool-tip-text" style="font-variant:normal; width:200px">Application Insights helps you detect and diagnose issues in your web application code.</span>
        </div>
    </div>
</div>