<div *ngIf="(rule == 0 || rule == null) && !editMode">
  Configure a rule based on the private byte consumption of the process serving your web app. This is useful in case your app
  is consuming high memory and you want to quickly recycle or collect some data to identify the root cause.
  <div class="rule-button">
    <button type="button" class="btn btn-primary btn-sm" (click)="addNewRule()">
      Configure Private Bytes rule
    </button>
  </div>
  <div aria-live="polite" class="mt-1" [style.visibility]="displayDeleteRuleMessage ? 'visibile' : 'hidden'">
    Rule Deleted
  </div>
</div>

<table class="table table-bordered" *ngIf="!editMode && rule > 0">
  <thead>
    <tr>
      <th scope="col">
        Private Bytes
      </th>
      <th scope="col">
        Action
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ formatBytes(rule * 1024) }}</td>
      <td>
        <button class="image-btn" *ngIf="!editMode" (click)="editRule()" title="Edit rule" name="editRule">
          <i class="fa fa-edit"></i>
        </button>
        <button class="image-btn" *ngIf="!editMode" (click)="deleteRule()" title="Delete rule" name="deleteRule">
          <i class="fa fa-trash"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>

<div class="form-group" *ngIf="editMode">
  <div class="row">
    <div class="col-sm-6">
      <label for="idPrivateBytes">What is the memory threshold (private bytes) in KB you want to configure ?</label>
    </div>
    <div class="col-sm-4">
      <input aria-required="true" type="number" min="1" id="idPrivateBytes" aria-describedby="privateBytesHelp" placeholder="Enter private bytes in KB" min="1" max="4294967295"
        [(ngModel)]="ruleCopy">
      <span style="color:red">*</span>
      <div *ngIf="ruleCopy !== null && ruleCopy !=0 && !isValid()" class="alert alert-danger" style="margin-top:5px">
        Private should be > 102400 KB (100 MB) to 13631488 KB (13 GB)
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <button type="button" class="btn btn-primary btn-sm" [disabled]="!isValid()" (click)="saveRule()">Ok</button>
    </div>
  </div>
</div>