<div class="row" style="height:30px">
    <div class="row" style="width:100%;padding-left:55px;margin-top:20px">
        <div class="row timeline-container" *ngIf="appAnalysisResponse">
            <div class="timeline-column" *ngFor="let period of downtimeDisplayInfo; let i = index"
                [ngStyle]="{'width':period.percent + '%'}"
                [ngClass]="{'timeline-downtime': period.isDowntime, 'timeline-downtime-selected': period.isDowntime && period.index === selectedDowntimeIndex, 'timeline-uptime': !period.isDowntime}" 
                (click)="selectDowntime(period.index)" >
                <div class="selector-holder">
                    <i *ngIf="period.isDowntime && period.index === selectedDowntimeIndex" class="fa fa-map-marker warning-icon-color selector"></i>
                </div>
            </div>
        </div>
        <div class="row" style="height:auto;" [ngStyle]="{'padding-right':rightPadding}" *ngIf="!appAnalysisResponse">
            <div class="timeline-column timeline-uptime" style="width:100%;"></div>
        </div>
    </div>
</div>
