.info-container {
    display: flex;
    flex-wrap: wrap;
    font-size: 13px;
}

.observer-link {
    flex:100%;
    margin-bottom: 8px;
}

.info-item {
    flex:50%;
    margin-top: 6px;
}

.info-item-key {
    color: #605E5C;
}

.info-item-value {
    color: #323130;
}