.status-box {
    border: 1px solid #ebebeb;
    padding:15px;
    margin-top:20px;
}

.action-box {
    border: 1px solid #ebebeb;
    padding:15px;
    background-color: #f9f9f9
}

.highlight-blue {
    color: #286090;
}
