.status-box {
    border: 1px solid #ebebeb;
    padding:15px;
    margin-top:20px;
}

.action-box {
    border: 1px solid #ebebeb;
    padding:15px;
    background-color: #f9f9f9
}

.highlight-blue {
    color: #286090;
}

.preview {
    color: #91d454;
    font-size: xx-small;
    vertical-align: super;
    margin-left: 5px;
}
