.close-button {
    padding: 5px;
}

.close-button:hover {
    color: #0272ca;
}


.button-container .tooltiptext {
    visibility: hidden;
    position: relative;
    border: 1px solid black;
    padding: 3px;
    background: #dddddd1a;
    font-size: 12px;
  }

  .button-container:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
  

  .search-box-container {
    position: absolute;
    width: 100%;
    height: 68px;
    background: #F8F8F8;
    /* Light Theme / Drop Shadow - Level 1 */
    
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    bottom: 0px; left: 0px; right: 37px
  }

  .genie-search-box {
    height: 31px; 
    border-radius: 15px;  
    margin: 2%;
    border: 1px gray!important;
    text-indent: 15px;
    padding-top: 5px;
    width: 80%; 
    float: left;
  }

  .empty-message-warning {
    padding-left: 20px;
    color: red;
  }

.search-button-container {
  float:left;
  margin: 2%;
}

.search-box-icon {
  margin-left:-10px;
}

.search-box-icon:hover {
  color:#0272ca;
}