@import '../common/variables';
@import 'buttons';

%tile {
    @extend %button;
    width: 140px;
    padding: 5px;
    font-size: 14px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    min-height: 64px;
    box-shadow: $card-box-shadow;
    margin-left: 0px;
    margin-right: 15px;
    justify-content: center;
    text-align: center;
    margin-bottom: 10px;
}

.tile {
    @extend %tile;
    border: 1px solid transparent;

    &:hover{
        background-color: lighten($primary-color, 10%);
        box-shadow: $card-box-shadow-hover;
        color: $body-bg-color;
        text-decoration: none;
    }

    &:active{
        background-color: darken($primary-color, 10%)
    }

    &:disabled {
        background: $disabled-color;
        cursor: arrow;
    }

    &:focus{
        background-color: rgb(250, 242, 232);
    }
}

.tile-container {
    display: flex;
    flex-wrap: wrap;
}
