.container {
    height: 85vh;
}

.ms-Modal {
    padding-left: 32vh;
}

.ms-Overlay{
    position: absolute;
}

.ms-Layer {
    position: absolute;
}

.interactive-check-button{
    margin-left:5px;
}

.interactive-check-button .ms-Button{
    height: 28px;
    margin-top: -4px;
}

.interactive-section{
    margin-top: 10px;
}