<div class="network-checking-tool" #networkCheckingTool [ngStyle]="isSupportCenter ? {width: '100vw', height:'100vh'}:{width: 'calc(100vw - 298px)', height:'calc(100vh - 35px)'}">
    <div class="container">
        <h2 tabindex="0">{{ title }}</h2>
        <p tabindex="0">{{ description }}</p>
        <div class="step-container" *ngFor="let viewModel of stepViews" [ngSwitch]="viewModel.stepView.type">
            <dropdown-step *ngSwitchCase="0" [viewModel]="viewModel"></dropdown-step>
            <check-step *ngSwitchCase="1" [viewModel]="viewModel"></check-step>
            <input-step *ngSwitchCase="2" [viewModel]="viewModel"></input-step>
            <info-step *ngSwitchCase="3" [viewModel]="viewModel"></info-step>
        </div>
        <div class="loading-spin" *ngIf="stepFlowManager.loadingView && stepFlowManager.loadingView.loadingText != null">
            <i class="fa fa-circle-o-notch fa-spin"></i>
            <div class="loading-text" tabindex="0">{{stepFlowManager.loadingView.loadingText}}</div>
        </div>
        
    </div>
</div>

<networkcheck-feedback [openFeedback]="openFeedback"></networkcheck-feedback>