.network-checking-tool{
    position: fixed;
    min-width: 550px;
    overflow-y: scroll;
    padding-bottom: 20px;
}
.container {
    min-width: 500px;
    width: 80%;
    max-width: 750px;
}

.step-container{
    padding: 7px 7px 7px 0px;
}

.step{
    border: 1px solid #e5e5e5;
}

.loading-spin{
    padding-left: 8px;
    padding-top: 5px;
    .fa-spin{
        font-size: 18px;
    }
    .loading-text{
        margin-top: -20px;
        margin-left: 25px;
    }
}