<div class="container">
    <h2 tabindex="0">{{ title }}</h2>
    <p tabindex="0">{{ description }}</p>

    <div class="wizardcontainer">

        <!--<profiler [scmPath]="scmPath" [siteToBeDiagnosed]="siteToBeDiagnosed" (SessionsEvent)="updateSessions($event)">
        </profiler>-->

    </div>

    <h3>Check Results</h3>
    <ul>
        <li *ngFor="let result of checkResultViews; index as i">
            <div *ngIf="result.interactivePayload == null; else interactive">{{result.name}}: {{result.level}} <br/> Description: {{result.description}} <br/> Markdown: {{result.info}}<br/><br/></div>
            <ng-template #interactive>            
                <div [ngSwitch]="result.interactivePayload.type">
                    {{result.name}}: {{result.level}} <br/> Description: {{result.description}} <br/> Markdown: {{result.info}}<br/>
                    <div *ngSwitchCase="0"> <input #text><button (click)="interactiveCallBack(text.value, result.interactivePayload.callBack, i)">submit</button></div>
                    <div *ngSwitchCase="1">interactive 1</div>
                    <br/>
                </div>
            </ng-template>
            
        </li>
    </ul>

    <!--<div class="sessions">
        <daas-sessions [refreshSessions]="refreshSessions" diagnoserNameLookup="CLR Profiler" [scmPath]="scmPath" [siteToBeDiagnosed]="siteToBeDiagnosed"></daas-sessions>
    </div> -->

</div>