<div class="container" (mouseleave)="toggleFeedbackOnce()">
    <h2 tabindex="0">{{ title }}</h2>
    <p tabindex="0">{{ description }}</p>
    <a [routerLink]="['../']">Back</a>

    <!-- markdown https://stackblitz.com/edit/ngx-markdown?file=src%2Fapp%2Fapp.component.html -->
    <div class="checker-container" *ngFor="let viewModel of checkResultViews; index as i">
        <checker-list [viewModel]= "viewModel" [expandable]="viewModel.expandable">
        </checker-list>
    </div>

    <!--<div class="sessions">
        <daas-sessions [refreshSessions]="refreshSessions" diagnoserNameLookup="CLR Profiler" [scmPath]="scmPath" [siteToBeDiagnosed]="siteToBeDiagnosed"></daas-sessions>
    </div> -->

</div>

<networkcheck-feedback [openFeedback]="openFeedback"></networkcheck-feedback>