<div style="min-height: 100%">
    <app-current-health *ngIf="!bladeOpenedFromSupportTicketFlow" [runtimeAvailabilityResponse]="runtimeAvailabilityResponse" [serviceHealthResponse]="serviceHealthResponse"
    [bladeOpenedFromSupportTicketFlow]="bladeOpenedFromSupportTicketFlow" (refreshClicked)="onRefreshClicked($event)">
    </app-current-health>
    <div class="row">
        <availability-graph [(displayGraph)]="showLast24Hours" [topLevelGraphRefreshIndex]="topLevelGraphRefreshIndex">
            <downtime-timeline [appAnalysisResponse]='analysisResponse' [(selectedDowntimeIndex)]='selectedTimePeriodIndex'></downtime-timeline>
        </availability-graph>
        
        <br/>

        <div class="row" >
            <div class="col-md-9">
                <div *ngIf="loadingAnalysis">
                    <i class="fa fa-circle-o-notch fa-2x fa-spin spin-icon" aria-hidden="true"></i>
                    <span [@loadingAnimation]="showLoadingMessage ? 'shown' : 'hidden'" class="loading-message">{{loadingMessages[loadingMessageIndex]}}</span>
                </div>
                <observations-performance *ngIf="analysisResponse" 
                    [analysisResponse]='analysisResponse' 
                    [selectedDowntimeIndex]="selectedTimePeriodIndex"
                    [openedFromTicketFlow]="bladeOpenedFromSupportTicketFlow">
                </observations-performance>
                <br/>
                <solution-list *ngIf="abnormalTimePeriods && selectedTimePeriodIndex >= 0" 
                    [abnormalTimePeriod]="abnormalTimePeriods[selectedTimePeriodIndex]"
                    [openedFromTicketFlow]="bladeOpenedFromSupportTicketFlow">
                </solution-list>
            </div>
            <div class="col-md-3" style="padding-top:15px">
                <tools-menu [displayTools]="!bladeOpenedFromSupportTicketFlow"></tools-menu>
            </div>
        </div>
    </div>
</div>

<feedback-form [source]="'perfanalysis'"></feedback-form>
<default-solutions style="margin-top:40px" *ngIf="runtimeAvailabilityResponse && !bladeOpenedFromSupportTicketFlow"></default-solutions>

<!--<open-ticket *ngIf="analysisResponse"></open-ticket>-->