.feedback-button {
    border:none;
    color: #015cda;
    border-radius: 10px;
    margin-right: 3px;
}

.article-container {
    max-width: 80%;
    //margin-bottom: 100px;
}

.article {
    border: 1px solid #dddddd;
    cursor: pointer;
    padding:10px;
    margin-right: 10px;
}

.article > h5 {
    color: blue;
}

.article-link {
    color:  #949494
}

.article-heading {
    color:black;
    font-weight: bold;
    margin:5px;
}
