<!-- *ngIf="!loading else loadingMessage" -->
<div class="detector-summary-container" [class.with-full-report]="showTopLevelFullReport" >
    <!-- <detector-list-analysis withinDiagnoseAndSolve="true" detectorParmName="detectorName"></detector-list-analysis> -->
    <generic-analysis [analysisId]="'searchResultsAnalysis'" [searchTerm]="keyword" [searchMode]="searchMode"></generic-analysis>
    <!-- <div class="full-report" *ngIf="showTopLevelFullReport">
      {{detector.name}}
      <div class="full-report-link" tabindex="0" (keyup.enter)="openFullReport()">
        <a (click)="openFullReport()">View Full Report <i class="fa fa-chevron-right"></i></a>
      </div>
    </div>
    <div class="status-bar" *ngFor="let model of detectorSummaryViewModels" (click)="selectDetectorSummaryItem(model)" (keyup.enter)="selectDetectorSummaryItem(model)"  tabindex="0">
      <div class="status-bar-icon align-content-center">
          <status-icon [loading]="model.loading" [status]="model.status" [size]="16"></status-icon>
      </div>
      <div class="status-bar-title">{{model.name}}</div>
      <div class="align-content-center"><i class="fa fa-chevron-right"></i></div>
    </div> -->
  </div>

  <ng-template #loadingMessage>
      <loading-message></loading-message>
  </ng-template>
