<!-- *ngIf="!loading else loadingMessage" -->
<div class="detector-summary-container" [class.with-full-report]="false" >
    <!-- <detector-list-analysis withinDiagnoseAndSolve="true" detectorParmName="detectorName"></detector-list-analysis> -->
    <generic-analysis [analysisId]="'searchResultsAnalysis'" [resourceId]="resourceId" [targetedScore]="targetedScore" [searchTerm]="keyword" [searchMode]="searchMode" (onComplete)="updateStatus($event)"></generic-analysis>
    <!-- <div class="full-report" *ngIf="showTopLevelFullReport">
      {{detector.name}}
      <div class="full-report-link" tabindex="0" (keyup.enter)="openFullReport()">
        <a (click)="openFullReport()">View Full Report <i class="fa fa-chevron-right"></i></a>
      </div>
    </div>
    <div class="status-bar" *ngFor="let model of detectorSummaryViewModels" (click)="selectDetectorSummaryItem(model)" (keyup.enter)="selectDetectorSummaryItem(model)"  tabindex="0">
      <div class="status-bar-icon align-content-center">
          <status-icon [loading]="model.loading" [status]="model.status" [size]="16"></status-icon>
      </div>
      <div class="status-bar-title">{{model.name}}</div>
      <div class="align-content-center"><i class="fa fa-chevron-right"></i></div>
    </div> -->
    <!-- <div *ngIf="noSearchResult === false">
        <span>Does this information help you solve the issue?</span>
        <button class="feedback-button" (click)="addHelpfulFeedback()">Yes</button>
        <button class="feedback-button" (click)="addNotHelpfulFeedback()">No</button>
      </div>
    <div *ngIf="noSearchResult === true">
        <span>Sorry we are not able to find any result based on your questions.</span>
      </div>
  </div> -->
  <div *ngIf="noSearchResult === true">
      <div tabindex="0" class="message-sent-by-system" style="margin-top:10px; margin-bottom:10px">
      <span>Sorry we are not able to find any result based on your questions. Can you rephrease your last message?</span>
      </div>
    </div>
  <div *ngIf="showFeedback">
      <div tabindex="0" class="message-sent-by-system" style="margin-top:10px; margin-bottom:10px">{{feedbackText}}
      </div>
      <div style="height:0px;overflow-y: hidden">
          <!-- <feedback [showFeedbackForm]="'shown'" (showFeedbackFormChange)="toggleButtonView(Feedback)" [source]="'appanalysis'" [ratingEventProperties]="ratingEventProperties"></feedback>
 -->
        </div>
  </div>

  <div id="search-documents" *ngIf="content">
      <div class="article-container">
        <div class="article-heading">Recommended Documents</div>
        <div class="article" *ngFor="let article of content" (click)="openArticle(article)" tabindex="0" (keyup.enter)="openArticle(article)" >
          <a>{{article.title}}
            <i class="fa fa-external-link"></i>
          </a>
          <div class="article-link">{{getLink(article.link)}}</div>
          {{article.description}}
        </div>
      </div>
  </div>


  <!-- <ng-template #loadingMessage>
      <loading-message></loading-message>
  </ng-template> -->

