<detector-control></detector-control>
<availability-graph 
    [(displayGraph)]="displayGraph" >
</availability-graph>

<h4>Memory Health Check</h4>
<expandable-summary [title]="'Page Operations'" [summaryViewModel]="pageReadsViewModel"></expandable-summary>
<expandable-summary [title]="'Physical Memory Usage'" [summaryViewModel]="physicalMemoryViewModel"></expandable-summary>
<expandable-summary [title]="'Committed Memory Usage'" [summaryViewModel]="committedViewModel"></expandable-summary>
<br/>
<feedback-form [source]="'memoryanalysis'"></feedback-form>