
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.ngx-datatable.bootstrap {
    border: 1px solid #dddddd;
}

.ngx-datatable.bootstrap .datatable-body .datatable-body-row .datatable-body-cell {
    padding-right: 15px;
}

.ngx-datatable.bootstrap .datatable-body .datatable-body-row.datatable-row-even {
    background-color: rgba(0, 0, 0, 0);
}

.ngx-datatable.bootstrap .datatable-body .datatable-body-row:hover {
    background-color: rgba(182, 235, 255, 0.22);
}

.ngx-datatable.bootstrap .datatable-footer {
    border-top: 1px solid #d0d0d0;
}

.ngx-datatable.bootstrap .datatable-footer .datatable-pager ul li:not(.disabled).active a {
    background-color: #aeaeae;
}

.ngx-datatable.bootstrap .datatable-header .datatable-header-cell {
    padding: 0.15rem 0.75rem;
    border-bottom: none;
}

.ngx-datatable.bootstrap .datatable-header,
.ngx-datatable.bootstrap .datatable-footer {
    background-color: #eaeaea;
    font-weight: 600;
}

.ngx-datatable.bootstrap .datatable-footer,
.ngx-datatable.bootstrap .datatable-footer .datatable-pager a,
.ngx-datatable.bootstrap .datatable-header .datatable-header-cell .datatable-header-cell-label {
    color: #3a3a3a;
}

.btn {
    & + & {
        margin-left:5px;
    }
}

.critical-color {
    color: #ff0000;
}

.warning-color {
    color: #ff9104;
}

.success-color {
    color: #3da907;
}

.info-color {
    color: #3a9bc7;
}

.critical {
    color: #ff0000;
}
.bg-critical{
    background-color: #ff0000;
}
.warning {
    color: #ff9104;
}
.bg-warning {
    background-color: #ff9104;
}
.success {
    color: #3da907;
}
.bg-success {
    background-color: #3da907;
}
.info {
    color: #3a9bc7;
}
.bg-info {
    background-color: #3a9bc7;
}

/* highchart container configuration */
.highcharts-container {
    overflow: visible !important;
    width:100%!important;
  }

.highcharts-container svg {
    overflow: visible !important;
    width:100%!important;
}

highcharts-chart {
    overflow: visible!important;
}

fab-command-bar .ms-SearchBox {
    border-width: 0px!important;
}

.ms-Callout-container .root-136 {
    overflow-y: hidden!important;
    right: 20px!important;
    top: 40px!important;
    padding: 10px!important;
    left: unset!important;
    background-color: white!important;
    width: 270px;
}

.ms-Callout-container .ms-Callout-main {
    overflow-y: hidden!important;
}


.ms-Callout-container fab-date-picker {
    padding-right:0px!important;
}

.ms-Callout-container fab-masked-text-field {
    padding-left:0px!important;
}s

.ms-CommandBar {
    height: 34px;
}
.ms-CommandBar, .ms-Button--commandBar{
    background-color: white!important;
}

.ms-Button--commandBar:hover {
    background-color: rgba(85, 179, 255, 0.1)!important;
}

fab-command-bar {
    border-bottom: 1px solid rgb(204, 204, 204)!important;
    font-size: 12px!important;
    height: 34px;
}


.fab-command-bar-class {
    border-bottom: 1px solid rgb(204, 204, 204)!important;
    font-size: 12px!important;
    height: 34px;
}


.fab-command-bar-class .ms-CommandBar {
    height: 33px;
}




