@import "../../../../../src/styles/common/variables";

.category-tile-container {
    border: 1px solid rgba(204, 204, 204, 0.5);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
    height: 100%;
    padding: 16px 10px;
    display: flex;
}

.category-tile {
    height: 100%;
}

.category-tile :hover {
    background-color: var(--tileHomepageHoverBackground);
}

.tile-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.tile-image {
    width: 45px;
    height: 45px;
    margin-top: 10px;
    margin-right: 10px;
}


.tile-title {
    font-size: 14px;
    font-weight: 600;
}

.tile-description {
    font-size: 13px;
    font-weight: 400;
}

.tile-keywords {
    font-size: 12px;
    //color: #605E5C;
    color: var(--cardTileKeywords);
    font-weight: 400;
}
