<div class="category-tile">
  <div (click)="openBladeDiagnoseCategoryBlade()" (keyup.enter)="openBladeDiagnoseCategoryBlade()"
    (keyup.space)="openBladeDiagnoseCategoryBlade()" tabindex="0" role="button" class="category-tile-container">
    <div>
      <img class="tile-image" [src]="categoryImgPath" alt="" >
    </div>
    <div class="tile-content">
      <h3 class="tile-title">{{ resourcePrefix + "category." + category.id + ".name" | translate}}</h3>
      <p class="tile-description">{{ resourcePrefix + "category." + category.id + ".description" | translate}}</p>
      <p class="tile-keywords">{{"Keywords" | translate}}: {{ resourcePrefix + "category." + category.id + ".keywords" |translate}}</p>
      <a>{{"Troubleshoot"|translate}}</a>
    </div>
  </div>
</div>
