<fab-panel [isOpen]="globals.openRiskAlertsPanel" [type]="type" [customWidth]="width" [isHiddenOnDismiss]="true"
  [styles]="styles" [isLightDismiss]="true" [hasCloseButton]="true" [closeButtonAriaLabel]="'close'"
  (onDismissed)="dismissedHandler()">
  <div class="panel-padding">
    <div class="row">
      <div>
        <div style="margin-bottom: 10px">
          <div
            style="position: absolute; left:25px; right: 32px; top:0px; height: 32px; font-family: 'segoe UI'; font-size: 18px; line-height: 24px; font-weight: 600;display: flex; align-items: flex-end"
            tabindex="0" aria-label="Availability risk alerts">
            {{riskPanelTitle}}</div>
        </div>
      </div>
    </div>
    <ng-container *ngIf="!isContentEmpty(riskPanelContents) else loaderView">
      <div *ngFor="let item of riskPanelContents | keyvalue">
        <detector-view *ngIf="currentRiskPanelContentId === item.key" [analysisMode]="false" [isKeystoneView]="false"
          [isAnalysisView]="false" [detectorResponse]="item.value" [error]="error" [startTime]="startTime"
          [endTime]="endTime" [developmentMode]="false" [detector]="item.key" [hideDetectorHeader]="true"
          [isRiskAlertDetector]="true" [hideDetectorControl]="true">
        </detector-view>
      </div>
    </ng-container>
    <ng-template #loaderView>
      <loader-detector-view style="margin-top:300px"></loader-detector-view>
    </ng-template>
  </div>
</fab-panel>
