<div style="margin-top:20px" *ngIf="!hideWholeForm">
    <div *ngIf="!feedbackGiven">
        <div>Is this solution helpful?</div>
        <button type="button" class="btn btn-default btn-xs" [ngClass]="{'btn-primary':yesSelected}" (click)="feedbackButtonClicked(true)">
            Yes
        </button>
        <button type="button" class="btn btn-default btn-xs" [ngClass]="{'btn-primary':noSelected}" (click)="feedbackButtonClicked(false)">
            No
        </button>
    </div>
    <div *ngIf="feedbackGiven">
        Thanks for the feedback! 
    </div>
</div>