<div class="container">
    <div class="header1">{{ title }}</div>
    <p>{{ description }}</p>

    <div class="wizardcontainer">

        <profiler [scmPath]="scmPath" [siteToBeDiagnosed]="siteToBeDiagnosed" (SessionsEvent)="updateSessions($event)">
        </profiler>

    </div>

    <div class="header2">What you should know before collecting a Profiler trace</div>
    <ul>
        <li *ngFor="let statement of thingsToKnowBefore">{{statement}}</li>
    </ul>

    <div class="sessions">
        <daas-sessions [refreshSessions]="refreshSessions" DiagnoserNameLookup="CLR Profiler" [scmPath]="scmPath" [siteToBeDiagnosed]="siteToBeDiagnosed"></daas-sessions>
    </div>

</div>