.panel-heading {
    cursor: pointer;
}

.health-icon-container {
    padding: 0px 10px 0px 0px;
}

.panel-body {
    background-color: #f6fbff;
}

.content-container {
    padding: 15px;
}

h5 {
    margin-top:0px
}

.message {
    padding-left:10px;
}

.loading-container {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #cccccc;
}