<div *ngIf="rule == null && !editMode">
  If the performance of your application starts degrading and several pages start taking longer time to render, you can configure
  a rule to mitigate the issue or collect diagnostic data to identify the root cause of the problem.

  <div class="rule-button">
    <button type="button" class="btn btn-primary btn-sm" (click)="addNewRule()">
      Configure Slow Request rule
    </button>
  </div>
</div>

<table class="table table-bordered" *ngIf="!editMode && rule != null">
  <thead>
    <tr>
      <th>
        Request Count
      </th>
      <th>
        Time Taken
      </th>
      <th>
        Duration
      </th>
      <th>
        Action
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ rule.count }}</td>
      <td>{{ rule.timeTaken }}</td>
      <td>{{ rule.timeInterval }}</td>
      <td>
        <button class="image-btn" *ngIf="!editMode" (click)="editRule()">
          <i class="fa fa-edit"></i>
        </button>
        <button class="image-btn" *ngIf="!editMode" (click)="deleteRule()">
          <i class="fa fa-trash"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>

<div *ngIf="editMode" class="form-group">
  <div class="row">
    <div class="col-sm-6">
      <label for="requestsCountSlow">After how many slow requests you want this condition to kick in ?</label>
    </div>
    <div class="col-sm-4">
      <input type="number" min="1" id="requestsCountSlow" aria-describedby="requestsCountSlowHelp" placeholder="Enter count" [(ngModel)]="ruleCopy.count"
        min="1">
      <span style="color:red">*</span>
      <div *ngIf="ruleCopy.count <=0" class="alert alert-danger" style="margin-top:5px">
        Request count should be more than zero
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <label for="timeTakenSlow">What should be minimum duration (in seconds) for these slow requests ?</label>
    </div>
    <div class="col-sm-4">
      <timespan [(timeSpan)]="ruleCopy.timeTaken" placeholder="e.g. 60"></timespan>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <label for="durationSlow">How frequently (in seconds) you want to check?</label>
    </div>
    <div class="col-sm-4">
      <timespan [(timeSpan)]="ruleCopy.timeInterval" placeholder="e.g. 300"></timespan>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <button type="button" class="btn btn-primary btn-sm" [disabled]="!isValid()" (click)="saveRule()">Ok</button>
    </div>
  </div>

</div>