// @import "../../../../../app-service-diagnostics/src/styles/main.scss";

// .card-container {
//     width: 300px;
//     margin: 0px 15px 15px 0px;
//     border-radius: $card-border-radius;
//     border-width: $card-border-width;
//     border-color: $card-border-color;
//     border-style: $card-border-style;
//     box-shadow: $card-box-shadow;
//     float: $card-float;
//     transition: $card-transition;
//     position: $card-position;
//     &.selected {
//         border-color: $card-border-color-selected;
//         transition: $card-transition-selected;
//     }
//     &:hover {
//         cursor: $card-cursor-hover;
//         box-shadow: $card-box-shadow-hover;
//     }
//     &:focus {
//         outline-color: $card-outline-color;
//         outline-offset: $card-outline-offset;
//         outline-style: $card-outline-style;
//         outline-width: $card-outline-width;
//     }

//     .card-header{
//         display: $card-header-display;
//         width: $card-header-width;
//         line-height: $card-header-title-line-height;
//         font-size: $card-header-title-font-size;
//         font-weight: $card-header-title-font-weight;
//         padding-left: 10px;
//         span {
//             height: $card-header-icon-height;
//             width: $card-header-icon-width;
//             padding: $card-header-icon-padding;
//             margin-right: $card-header-icon-margin-right;
//         }
//         span.fa {
//             font-size: 27px;
//             background-color: #55718a;
//             color: white;
//             height: 36px;
//         }
//     }

//     .card-description {
//         border-top-style: $card-description-border-top-style;
//         border-top-width: $card-description-border-top-width;
//         border-color: $card-description-border-color;
//         margin-top: $card-description-margin-top;
//         padding: $card-description-padding;

//         ul {
//             padding-left: 20px;
//         }
//     }
// }

.card-container {
    flex: 0 0 35%;
    padding: 10px;
    height: 110px;
    border: 1px solid rgb(214,214,214);
    box-shadow: 3px 3px rgb(214,214,214);
    margin: 10px 10px 10px 0px;
}

.card-container:hover {
    cursor: pointer;
}

.card-header {
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
}

.card-description {
    font-size: 12px;
    line-height: 22px;
}

.card-flex {
    display: flex;
    // margin: 10px;
    flex-wrap: wrap;
}