.not-expandable {
    cursor: auto;
    padding-left: 28px;
}

.section-expand-icon {
    min-width: 10px;
    font-size:small;
}

.expandable-content {
    overflow-y: visible;
}

.section-divider {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.section-divider {
    color: var(--bodyText);
    background-color: var(--bodyBackground);
    padding: 5px 25px 5px 15px;
    font-weight: 600;
    font-size: 12px;
    border-bottom: 1px solid var(--borderBottom);
}

.main-sidebar {
    background-color: var(--mainSiderBar);
}

.section-divider.overview-header {
    padding: 10px 25px 7px 34px!important;
}

.section-divider.overview-header:hover {
    background-color: var(--listItemBackgroundHovered)
}

.section-divider.selected {
    background-color: var(--listItemBackgroundSelected)!important;
}

.menu,
.main-sidebar {
    background-color: var(--bodyBackground);
}

.menu-label {
    position: relative;
    padding-left: 4px;
    font-size:12px;
    font-weight: 600;
    display: flex;
}

.menu-expand-icon {
   margin-left: auto;
   margin-right: 0;
}

.menu-title-icon {
    width: 15px;
    height:15px;
    margin-left: -10px;
}

.menu-title {
    padding-left:10px;
}
