<div class="main-container">
  <div class="main-row">
    <div *ngIf="userGivenName" class="welcome-word">Welcome to Applens, {{userGivenName}}!</div>
    <div class="main-content">
      <div class="main-content-header">
        <img src="assets/img/applens-skeleton/main/troubleshoot.svg" alt="troubleshoot" class="mr-3">
        <h3>Select a resource to begin troubleshooting:</h3>
      </div>
      <div>
        <div class="section">
          <label for="landing-page-service-type">
            Service type <span class="required">*</span>
          </label>
          <div id="landing-page-service-type">
            <fab-dropdown [options]="fabDropdownOptions" [defaultSelectedKey]="fabDropdownOptions[0].key"
              (onChange)="selectDropdownKey($event)"></fab-dropdown>
          </div>
        </div>
        <div class="section">
          <label for="landing-page-resource">
            {{selectedResourceType.resourceTypeLabel}} <span class="required">*</span>
          </label>
          <div id="landing-page-resource">
            <fab-text-field [ariaLabel]="selectedResourceType.resourceTypeLabel" [(value)]="resourceName"
              [placeholder]="'Type ' + selectedResourceType.resourceTypeLabel" (keyup.enter)="onSubmit()">
            </fab-text-field>
            <div *ngIf="errorMessage!== ''" class="mt-3 error-message-container">
              <status-icon [status]="status"></status-icon><span class="ml-3 error-message">{{errorMessage}}</span>
            </div>
          </div>
        </div>
        <div class="section">
          <label for="landing-page-time-picker">Time range (UTC)</label>
          <div id="landing-page-time-picker" (click)="openTimePicker()" class="time-picker"
            (keydown.enter)="openTimePicker()" tabindex="0" aria-label="Choose time range">
            <span style="color: #605E5C;">{{timePickerStr}}</span>
            <fab-icon iconName="ChevronDown" ariaLabel="ChevronDown"></fab-icon>
          </div>
        </div>

        <div class="section">
          <fab-primary-button contentStyle="border-radius: 2px;" [disabled]="disableSubmitButton" (click)="onSubmit()">
            Continue</fab-primary-button>
        </div>
      </div>


    </div>
    <div class="col-md-6" *ngIf="showCaseCleansingOption">
      <a (click)="caseCleansingNavigate()">Review case tagging</a>
    </div>
  </div>
</div>

<detector-time-picker [target]="'#landing-page-time-picker'" [openTimePickerCalloutObservable]="openTimePickerSubject"
  [disableUpdateQueryParams]="true">
</detector-time-picker>