tabs {
    width: 100%;
    height: 100%;
    background-color: var(--background-default);
}



/* styles applied directly to the ap-root element only */
:host {
    border: 2px solid dimgray;
    display: block;
    padding: 20px;
}
