.notification {
    background-color: rgba(1, 91, 218, 0.15);
    color: #223f69;
    padding: 8px 25px;
    width: 100%;
    cursor: pointer;
}

.notification-noaction {
    cursor: default;
}

.fa {
    margin-right: 5px;
}

.fa-close {
    font-size: 19px;
    cursor: pointer;
}