<nav class="l1-side-nav">
  <div>
    <div *ngFor="let item of sideItems" class="side-item" [class.side-item-disable]="!getItemEnabled(item)"
      [class.side-item-enable]="getItemEnabled(item)" (click)="item.click()" type="button" (keyup.enter)="item.click()"
      [tabindex]="getItemEnabled(item) ? 0 : -1" [attr.aria-label]="item.displayName"
      [class.highlight-side-item]="getCurrentHighLightItem() === item.type">
      <img [src]="getImageUrl(item)" [alt]="item.displayName">
      <p class="mt-2">{{item.displayName}}</p>
    </div>
  </div>
</nav>

<fab-dialog [hidden]="!showDialog" (onDismiss)="dismissDialog()">
  <fab-dialog-content [title]="dialogTitle" [subText]="dialogSubText" [styles]="dialogContentStyles">
  </fab-dialog-content>
  <fab-dialog-footer>
    <fab-primary-button (onClick)="navigateToLandingPage()" contentClass="mr-3">Continue</fab-primary-button>
    <fab-default-button (onClick)="dismissDialog()">Cancel</fab-default-button>
  </fab-dialog-footer>
</fab-dialog>