<nav class="l1-side-nav" [ngStyle]="{'width': sideNavWidth + 'px' }">
  <div>
    <div class="side-item" [class.side-item-expand]="isExpand" [class.side-item-collapse]="!isExpand"  (click)="toggleSideNavExpand()" (keyup.enter)="toggleSideNavExpand()" tabindex="0">
      <img src="assets/img/applens-skeleton/side-nav/hamburger.svg" alt="">
    </div>


    <div *ngFor="let item of sideItems" [ngStyle]="{'background' : item.subItems ? '#dcdcdc' : ''}">
      <ng-container [ngTemplateOutlet]="sideItem" [ngTemplateOutletContext]="{'item':item}"></ng-container>
      <ng-container *ngIf="item.subItems && item.subItems.length > 0"> 
        <ng-container *ngFor="let subItem of item.subItems">
          <ng-container [ngTemplateOutlet]="sideItem" [ngTemplateOutletContext]="{'item':subItem}"></ng-container>
        </ng-container>
      </ng-container>
    </div>
  </div>
</nav>

<fab-dialog [hidden]="!showDialog" (onDismiss)="dismissDialog()">
  <fab-dialog-content [title]="dialogTitle" [subText]="dialogSubText" [styles]="dialogContentStyles">
  </fab-dialog-content>
  <fab-dialog-footer>
    <div class="diag-footer">
      <fab-primary-button (onClick)="navigateToLandingPage()" contentClass="mr-3">Continue</fab-primary-button>
      <fab-default-button (onClick)="dismissDialog()">Cancel</fab-default-button>
    </div>
  </fab-dialog-footer>
</fab-dialog>

<ng-template #sideItem let-item="item">
  <div class="side-item" [class.side-item-expand]="isExpand" [class.side-item-collapse]="!isExpand" (click)="clickSideItem(item)" type="button" (keyup.enter)="clickSideItem(item)" tabindex="0"
    [attr.aria-label]="item.displayName">
    <img [src]="item.iconPath" [alt]="item.displayName">
    <div *ngIf="isExpand" class="ml-3">{{item.displayName}}</div>
  </div>
</ng-template>