.side-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60px;
    flex-direction: row;
}

.side-item-expand {
    justify-content: flex-start;
    padding-left: 14px;
}

.side-item-collapse {
    justify-content: center;
}

.side-item :hover {
    cursor: pointer;
}

.side-item > img {
    width: 24px;
    height: 24px;
}

.side-item > p {
    font-size: 11px;
}

.highlight-side-item {
    background: #cccccc;
    border-left: 4px solid #0C8FC7;
}

.l1-side-nav {
    position: fixed;
    // width: 70px;
    left:0px;
    background: #EAEAEA;
    box-shadow: inset -1px 0px 0px rgba(0, 0, 0, 0.12);
    height: 100%;
}

.diag-footer {
    display: flex;
    margin-left: 28px;
}