.incident-notification {
    background-color: #fca400;
    color: #ffffff;
    padding: 5px 25px;
    /* border: 1px solid #ffae35; */
    width: 100%;
    cursor: pointer;
}

.fa-close {
    font-size: 19px;
}