.outer-container {
    padding: 20px;
    position: relative;
}

.alert-container {
    margin-left: -20px;
}

.back-button {
  float: right;
  background: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline: none;
  width: 100px;
  color: #367fa9;
  padding: 12px;

  &:hover {
      color: #0d1dea;
  }

  &:active:focus, &:active:focus {
    outline: none;
  }
}

.btn-container{
  height: 20px;
}