<div *ngIf="matchesSearchTerm">
    <div class="menu-item" (click)="handleClick()" [class.selected]="isSelected()" [tabindex]="focusable ? 0 : -1" [style.padding-left]="getPadding()" (keyup.enter)="handleClick()">
      <div class="mr-3">
        <fab-icon *ngIf=" menuItem.subItems && menuItem.subItems.length > 0" [iconName]="iconName"></fab-icon>
      </div>
        <div class="menu-label" [class.break-all]="!isLabelWordBreakable(menuItem.label)" [innerHtml]="menuItem.label | searchmatch:searchValueLocal"></div>
    </div>
    <div class="menu-item-children" [@expand]="menuItem.expanded ? 'shown' : 'hidden'">
      <collapsible-menu-item *ngFor="let item of menuItem.subItems" [searchValue]="searchValueLocal" [menuItem]="item" [level]="level + 1" [focusable]="menuItem.expanded"></collapsible-menu-item>
    </div>
</div>
