<div>
  If your app is failing with HTTP Server errors, you can configure a rule to mitigate the issue or collect diagnostic data
  to identify the root cause of the problem. You can configure rules on more than one HTTP Status code condition.

  <div class="rule-button">
    <button type="button" class="btn btn-primary btn-sm" (click)="addNewRule()">
      Add Status Codes rule
    </button>
  </div>
</div>

<div *ngIf="rule">
  <table class="table table-bordered" *ngIf="rule!==null && rule.length > 0" style="margin-top:20px">
    <thead>
      <tr>
        <th>
          Count
        </th>
        <th>
          Status Code
        </th>
        <th>
          Sub-Status
        </th>
        <th>
          Win32-Status
        </th>
        <th>
          Interval
        </th>
        <th>
          Action
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let singleRule of rule; let i = index">
        <td>{{ singleRule.count }}</td>
        <td>{{ singleRule.status }}</td>
        <td>{{ singleRule.subStatus }}</td>
        <td>{{ singleRule.win32Status }}</td>
        <td>{{ singleRule.timeInterval }}</td>
        <td>
          <button class="image-btn" *ngIf="!editMode" (click)="editStatusCodeRule(i)">
            <i class="fa fa-edit"></i>
          </button>
          <button class="image-btn" *ngIf="!editMode" (click)="deleteStatusCodeRule(i)">
            <i class="fa fa-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="editMode" style="margin-top:20px" class="form-group">
    <div class="row">
      <div class="col-sm-8">
        <label for="requestCountStatusCodes">After how many requests you want this condition to kick in ?</label>
      </div>
      <div class="col-sm-4">
        <input type="number" id="requestCountStatusCodes" aria-describedby="requestCountStatusCodesHelp" placeholder="Enter request count"
          [(ngModel)]="currentRule.count">
        <span style="color:red">*</span>
        <div *ngIf="currentRule.count <=0" class="alert alert-danger" style="margin-top:5px">
          Request count should be more than zero
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8">
        <label for="statusCode">What should be the status code for these requests ?</label>
      </div>
      <div class="col-sm-4">
        <input type="number" id="statusCode" placeholder="e.g. 500" min="100" [(ngModel)]="currentRule.status">
        <span style="color:red">*</span>
        <div *ngIf="currentRule.status < 100 || currentRule.status > 530" class="alert alert-danger" style="margin-top:5px">
          Valid HTTP Status codes range from HTTP 100 to HTTP 530 only.
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-8">
        <label for="subStatusCode">What should be the sub-status code for these requests ?</label>
      </div>

      <div class="col-sm-4">
        <input type="number" min="0" id="subStatusCode" placeholder="e.g. 0" [(ngModel)]="currentRule.subStatus">
      </div>
    </div>

    <div class="row">
      <div class="col-sm-8">
        <label for="win32StatusCode">What should be the win32-status code for these requests ?</label>
      </div>
      <div class="col-sm-4">
        <input type="number" min="0" id="win32StatusCode" placeholder="e.g. 0" [(ngModel)]="currentRule.win32Status">
      </div>
    </div>

    <div class="row">
      <div class="col-sm-8">
        <label for="durationStatusCode">How frequently (in seconds) you want to check?</label>
      </div>
      <div class="col-sm-4">
        <timespan [(timeSpan)]="currentRule.timeInterval" placeholder="e.g. 60"></timespan>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <button type="button" class="btn btn-primary btn-sm" [disabled]="!isValid()" (click)="saveRule()">Ok</button>
      </div>
    </div>

  </div>
</div>