.settings-wrapper {
  width: 535px;
  padding-bottom: 15px;
}

.setting-label {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  min-height: 20px;
}

.text-label, label {
  font-weight: normal;
}

.settings-wrapper, .setting-control-container {
  display: inline-block;
  vertical-align: middle;
}

[role=switch] {
  position: relative;
  display: inline-block;
  vertical-align: middle
}

[role=switch]:focus:not(.selected) {
  outline: 0
}

[name=option] {
  display: block;
  border-top: 1px solid #0058ad;
  border-left: 1px solid #0058ad;
  border-bottom: 1px solid #0058ad;
  border-right: 1px solid #0058ad;
  position: relative;
  z-index: 2;
  float: left;
  line-height: 25px;
  font-size: 11px;
  text-align: center;
  cursor: pointer;
  padding-left: 20px;
  padding-right: 20px;
  color: #0058ad;
  background: #fff
}

[name=option]~[name=option] {
  border-left-width: 0
}

[role=switch].small [name=option] {
  line-height: 15px;
  padding-left: 5px;
  padding-right: 5px
}

[role=switch]:not([aria-disabled=true]):focus [name=option][aria-checked=true] {
  outline: #00bcf2 dashed 1px
}

[role=switch]:not([aria-disabled=true]) [name=option]:hover {
  background-color: #e7edf0;
  color: #0058ad
}

[role=switch]:not([aria-disabled=true]) [name=option][aria-checked=true] {
  background-color: #0058ad;
  color: #fff
}

[role=switch]:not([aria-disabled=true]).dirty [name=option][aria-checked=true] {
  background-color: #6917aa;
}

.toggle-disabled {
    cursor: not-allowed;
    opacity: .65;
}
