<div class="inline" style="vertical-align: top;font-size: 16px">
  <div class="setting-wrapper">
    <label style="margin-right:20px"> {{ ToggleText }}
    </label>
    <div class="setting-control-container">
      <div role="radiogroup" class="medium" aria-disabled="false">
        <div role="radio" (click)="update(false)" attr.aria-checked="{{!selected ? 'true': 'false'}}">
          Off
        </div>
        <div role="radio" (click)="update(true)" attr.aria-checked="{{selected ? 'true': 'false'}}">
          On
        </div>
      </div>
    </div>
  </div>
</div>