<div>
  <fab-panel [isOpen]="openFeedback || globals.openFeedback" [type]="type" [customWidth]="panelWidth" [isHiddenOnDismiss]="true"
    [hasCloseButton]="true" [closeButtonAriaLabel]="'close'" (onDismissed)="dismissedFeedbackHandler()"
    (onOpen)="onOpenFeedbackPanel()" (onOpened)="onOpened()" [renderFooterContent]="feedbackFooter" [isFooterAtBottom]="true" [styles]="{overlay:{visibility: hideOverlay ? 'hidden':'visible'}}">
    <!-- Feedback Panel Header -->
    <div style="margin-bottom: 25px;">
        <h3 class="feedback-panel-header" style="top: 0px; font-size: 24px; font-weight: 600; left: 15px">Feedback</h3>
        <p class="feedback-panel-header" style="top: 35px; left: 16px">Network Checking Tool - {{siteName}}</p>
        <div class="hover-item panel-close" (click)="dismissedFeedbackHandler()">
          <div class="tooltiptext" style="margin-top: 35px;">close</div>
        </div>
    </div>

    <!-- Feedback Panel Content -->
    <div class="panel-text">
      <p>Thank you for using Network Checking Tool (Preview)!<br/>This tool is in an early preview stage so your feedback will be very important to us and can decide how this tool will be developed!</p>
      <label aria-required="true">Is your networking issue resolved?</label>
      <div class="feedback-panel-icons" id="feedback-icons">
        <div (click)="setResolved(true)"
          [ngClass]="{'selected-icon':issueResolved == true}" class="feedback-icon hover-item" style="padding: 5px;"
          (keyup.enter)="setResolved(true)" tabindex="0">
          <fab-icon [iconName]="'Like'" [ariaLabel]="'Like'"></fab-icon>
          <div class="tooltiptext">Yes</div>
        </div>
        <div (click)="setResolved(false)"
          [ngClass]="{'selected-icon':issueResolved == false}" class="feedback-icon hover-item" style="padding: 5px;"
          (keyup.enter)="setResolved(false)" tabindex="0">
          <fab-icon [iconName]="'Dislike'" [ariaLabel]="'Dislike'"></fab-icon>
          <div class="tooltiptext">No</div>
        </div>
      </div>
      <label aria-required="true">Are you satisfied with your experience?</label>
      <div class="feedback-panel-icons" id="feedback-icons">
        <div *ngFor="let feedbackIcon of feedbackIcons;let i = index" (click)="setRating(i)"
          [ngClass]="{'selected-icon':rating - 1 === i}" class="feedback-icon hover-item" style="padding: 5px;"
          (keyup.enter)="setRating(i)" tabindex="0">
          <fab-icon [iconName]="feedbackIcon.id" [ariaLabel]="feedbackIcon.name"></fab-icon>
        <div class="tooltiptext">{{feedbackIcon.text}}</div>
        </div>
      </div>
      <label for="networkfeedback-textarea">Tell us about your experience.</label>
      <textarea id="networkfeedback-textarea" [(ngModel)]="feedbackText" tabindex="0" rows="10" cols="40"></textarea>
    </div>
  </fab-panel>

  <fab-panel [isOpen]="submitted" [isLightDismiss]="true" [type]="type" [customWidth]="panelWidth"
    [isHiddenOnDismiss]="true" [hasCloseButton]="true" [closeButtonAriaLabel]="'close'" [styles]="submittedPanelStyles"
    [isBlocking]="false" (onDismissed)="dismissedSubmittedHandler()" (onOpen)="onOpenSubmittedPanel()">
    <div class="submitted-panel-text panel-text">
      <div>
        <span class="fa fa-check-circle submitted-panel-icon"></span> Feedback sent!
      </div>
      <div>{{currentTime}}</div>
    </div>
    <p>Thank you for your feedback</p>
  </fab-panel>
</div>

<ng-template #feedbackFooter>
  <hr class="feedback-panel-divider">
  <div>
    <div class="panel-text">
      <fab-checkbox [label]="checkLabel" [ariaLabel]="checkLabel" [(checked)]="checked"></fab-checkbox>
      <div class="feedback-panel-link">
        <a href="https://privacy.microsoft.com/en-US/privacystatement" target="_blank">Privacy</a>
      </div>
    </div>
    <div>
      <fab-primary-button (onClick)="submitFeedback()" [disabled]="rating == 0 &&feedbackText === ''">Submit feedback
      </fab-primary-button>
    </div>
  </div>
</ng-template>
