.sub-header {
    margin:10px 0px 10px 0px;
}

.fa-external-link {
    color: black;
}

.divider-large-margin {
    height: 1px;
    width:100%;
    background-color: rgba(0,0,0, 0.15);
    margin: 40px 0px 20px 0px;
}