<detector-control></detector-control>

<div *ngIf="loadingAnalysis">
    <i class="fa fa-circle-o-notch fa-2x fa-spin spin-icon" aria-hidden="true"></i>
    <span [@loadingAnimation]="showLoadingMessage ? 'shown' : 'hidden'" class="loading-message">{{currentLoadingMessage}}</span>
</div>

<div class="row" *ngIf="!loadingAnalysis">

    <div class="panel panel-default" *ngIf="!bladeOpenedFromSupportTicketFlow">

        <div class="panel-heading">Restart Events Timeline</div>

        <div class="panel-body">

            <div class="dropdown">
                <button (click)="showToolsDropdown = !showToolsDropdown" class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                          {{selectedWorker}}
                          <span class="caret"></span>
                        </button>
                <ul class="dropdown-menu" style="cursor: pointer" aria-labelledby="dropdownMenu1" [ngClass]="{'show': showToolsDropdown === true, 'hide': showToolsDropdown === false}">
                    <li *ngFor="let instance of allInstances" (click)="selectedWorker = instance;showToolsDropdown = false;">
                        <a>{{instance}}</a>
                    </li>
                </ul>
            </div>

            <app-nvD3-chart [options]="chartOptions" [data]="metricsPerInstance[selectedWorker]"></app-nvD3-chart>
        </div>

    </div>

    <div *ngIf="analysisResult.length !== 0" class="panel panel-primary">

        <div class="panel-heading">
            Reasons for your web app restart
            <!--<span class="row pull-right download-report" (click)="download()">
                <i class="fa fa-download"></i> Download Copy
            </span>-->
        </div>

        <div class="panel-body">
            <ul>
                <li *ngFor="let item of analysisResult" style="list-style-type: square;margin-bottom:20px;padding-bottom:10px;font-size:13px">
                    <div>{{item.message}}</div>
                    <div *ngFor="let evidence of item.metaData" class="btn btn-primary btn-sm" style="margin-top:10px;display:inline-block" (click)=OpenHelpulTip(evidence)>{{getHelpfulTipName(evidence)}}</div>
                </li>
            </ul>
        </div>

        <feedback-form [source]="'restartanalysis'"></feedback-form>

    </div>

    <div *ngIf="analysisResult.length === 0" class="panel panel-warning">

        <div class="panel-heading" style="font-size:14px;">
            No Reasons Found
        </div>

        <div class="panel-body">
            <ul>
                <li style="list-style-type: square;margin-bottom:20px;padding-bottom:10px;font-size:13px">
                    {{noReason.message}}
                </li>
            </ul>
        </div>

    </div>


    <div class="panel panel-default" *ngIf="bladeOpenedFromSupportTicketFlow">

        <div class="panel-heading">Restart Events Timeline</div>

        <div class="panel-body">

            <div class="dropdown">
                <button (click)="showToolsDropdown = !showToolsDropdown" class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        {{selectedWorker}}
                        <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" style="cursor: pointer" aria-labelledby="dropdownMenu1" [ngClass]="{'show': showToolsDropdown === true, 'hide': showToolsDropdown === false}">
                    <li *ngFor="let instance of allInstances" (click)="selectedWorker = instance;showToolsDropdown = false;">
                        <a>{{instance}}</a>
                    </li>
                </ul>
            </div>

            <app-nvD3-chart [options]="chartOptions" [data]="metricsPerInstance[selectedWorker]"></app-nvD3-chart>
        </div>

    </div>

</div>