<div class="main-container">
    <div class="top-banner">
      <div class="banner-text"><span style="color:#ffb353;">App</span>Lens Incident Assistance</div>
    </div>
    <div *ngIf="alternateContent!=null" class="row main-row" style="margin-left:25px;">
      {{alternateContent}}
    </div>
    <div *ngIf="!alternateContent" class="row main-row">
      <div>
        <div *ngIf="displayLoader" class="loader-block">
          <i class="fa fa-spinner fa-spin loader-icon"></i>
        </div>
        <div class="card-box" *ngIf="!pageLoading">
          <div class="box-header with-border">
            <h3 class="box-title">Incident <a href="{{'https://portal.microsofticm.com/imp/v3/incidents/details/' + incidentInfo.incidentId + '/home'}}" target="_blank">{{incidentInfo.incidentId}}</a> &nbsp; {{incidentInfo.title}}</h3>
          </div>

          <div style="height: calc(100vh - 140px);">
            <div class="form-group form-content">
              <div class="form-row" *ngFor="let field of incidentInfo.validationResults;">
                  <div class="col-md-12 field-box">
                      <label>{{field.name}}</label>
                      <div style="display:block;">
                        <input class="form-control input-box" [(ngModel)]="field.value" (ngModelChange)="refreshButtonStatus()" name="fieldValue" type="text" placeholder="">
                        <i class="fa fa-check-circle pass-icon" *ngIf="field.validationStatus"></i>
                      </div>
                      <div *ngIf = "(!field.validationStatus)&&(field.value==field.oldValue)" class="error-message col-md-12" style="padding-left: 0px;">
                        {{field.validationMessage}}
                      </div>
                  </div>
              </div>
            </div>
            <div class="form-group go-form">
              <fab-primary-button styles="margin-top: 20px;"
                  type="Submit" text='Check Validation' (click)="onSubmit()" [disabled]="validationButtonDisabled">
              </fab-primary-button>
              <fab-primary-button styles="margin-top: 20px; margin-left: 10px;"
                  type="Submit" text='Update Incident' (click)="onUpdateClick()" [disabled]="updateButtonDisabled">
              </fab-primary-button>
            </div>
            <div *ngIf="footerMessage!=null" [class.success-message]="footerMessageType=='success'" [class.failed-message]="footerMessageType=='error'">
              {{footerMessage}}
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
