.main-container {
    background-color: #E5E5E5;
    height: 100vh;
    overflow-y: auto;
}

.top-banner{
    background-image: linear-gradient(#4fb0e8 0,#3c8dbc 70%);
    height: 40px;
}

.banner-text{
    color: white;
    padding: 5px 10px;
    font-size: 22px;
}

.box-header{
    height: 40px;
}

.box-title{
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.main-row {
    padding-top: 30px;
}

.go-form {
    padding: 1em;
    text-align: left;
    height: 50px;
    padding-top: 0px;
    margin-top: -20px;
}

.form-content{
    max-height: calc(100% - 100px);
    overflow-y: auto;
}

.go-button {
    width: 50px;
    margin-top: 10px;
}

.loader-block{
    z-index: 100;
    height: 100%;
    width: 100%;
    top: 0;
    position: absolute;
    opacity: 0.2;
    background-color: grey;
    text-align: center;
}

.loader-icon{
    font-size: 10em;top: 36vh;position: relative;color: #0a0a0a;
}

.loader-text{
    font-size: 2em;position: relative;color: black;
}

.card-box{  
    padding: 20px;  
    width: 50%;
    max-height: calc(100vh - 80px);
    margin: 0 auto;
    border: 2px solid #d1d1da;
    box-shadow: 10px 5px 14px #e4e4e4;
    background-color: white;
}

.solutions-card-box{  
    padding: 20px;  
    //max-height: calc(100vh - 80px);
    background-color: white;
}

*::-webkit-scrollbar {
    width: 8px;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: grey;
    border-radius: 20px;
  }

.error-message{
    white-space: pre-wrap;
    overflow-wrap: break-word;
    color:red;
    margin:1px;
}

.success-message{
    color: green;
    margin: 0px 15px;
}

.failed-message{
    color: red;
    margin: 0px 15px;
}

.field-box{
    padding-bottom: 30px;
}

.input-box{
    width: 95%;
    display: inline-block;
    border-radius: 5px;
}

.pass-icon{
    color: green;
    fill: green;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 10px;
    display: inline-block;
}

table, th, td {
    border: 1px solid black;
    padding: 10px;
    border-collapse: collapse;
    table-layout: fixed;
    overflow: hidden;
}