.home-container {
    padding:30px 40px;
}

#page-description {
    width:500px;
}

.search-input-group {
    width:600px;
}

.category-container {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
}

.privacy-statement {
    width: 100%;
    text-align: right;
    padding: 20px 50px;
}

.main-area {
    padding-top:10px;
}