@import "../../../../styles/global.scss";
@import "../../../../styles/icons.scss";

.home-container {
    padding: 30px 40px;
    height: 100%;
}

#page-description {
    width:500px;
}

.search-input-group {
    width:600px;
}

.category-container {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
}

.privacy-statement {
    width: 100%;
    text-align: right;
    padding: 20px 50px;
}

.main-area {
    padding-top:10px;
}

::placeholder {
    color: #626262;
}


:host {
    display: block;

    fab-button {
      margin-right: 20px;
    }

    hr {
      margin: 40px 0 20px 0;
    }
  }


  .search-box{
    height: 23px;
    width: 330px;
    box-sizing: border-box;
}


//For new home page

.home-main-area {
  padding-left: 30px;
}

.home-title-container {
  margin-top: 16px;
  margin-bottom: 16px;
}

.home-title-text {
  font-size: 13;
}

.home-search {
  margin: 20px 0px;
  display: flex;
}

.home-search-text {
  margin: auto 20px;
}

.section-title {
  font-size: 16px;
  font-weight: 600;
  color: #323130;
  outline: none;
}


.section-container {
  margin-top: 24px;
  margin-bottom: 24px;
}

.home-tiles {
  display: flex; 
  flex-wrap: wrap;
  align-content: center;
}

.home-tile-wrapper {
  margin-top: 7px;
  margin-bottom: 7px;
  margin-right: 15px;
}

.quick-link {
  margin: 10px 0px;
}

.home-spinner {
  display: flex;
  margin-top: 20px;
}

.home-main-area a {
  color: #0078D4;;
}

.switch2new-context-text, .switch2old-context-text{
  background: #b3d6f2;
}

.home-banner {
  font-size: 12px;
  line-height: 30px;
  padding: 2px 5px;
  display: flex;
  align-items: center;
}