<fab-command-bar contentClass="fab-command-bar-class">
  <items>
    <fab-command-bar-item key="refresh" text="Refresh" [iconProps]="{ iconName: 'Refresh' }" (click)="refreshPage()">
    </fab-command-bar-item>
    <fab-command-bar-item key="feedback" text="Feedback" [iconProps]="{ iconName: 'Emoji2' }">
    </fab-command-bar-item>
    <fab-command-bar-item key="emailToAuthor" text="Email Author" [iconProps]="{ iconName: 'Mail' }"
      (click)="emailToAuthor()">
    </fab-command-bar-item>
  </items>
</fab-command-bar>
<div style="margin-left:20px">
  <detector-container [detector]="analysisId" [isAnalysisView]="true" (downTimeChanged)="onDowntimeChanged($event)" [downtimeZoomBehavior]="downtimeZoomBehavior"></detector-container>
</div>

<detector-list-analysis #detectorListAnalysis detectorParmName="detector" (updateDowntimeZoomBehavior) = "onUpdateDowntimeZoomBehavior($event)"></detector-list-analysis>

<!-- <router-outlet (activate)="onActivate($event)"></router-outlet> -->