.network-checking-tool{
    position: fixed;
    height: calc(100vh - 35px);
    width: calc(100vw - 298px);
    min-width: 550px;
    overflow-y: scroll;
}
.container {
    min-width: 500px;
    width: 80%;
    max-width: 750px;
}

.step-container{
    padding: 7px;
}

.step{
    border: 1px solid #e5e5e5;
}