
.solution-tag {
    color: white;
    background-color: #000000;
    padding: 1px 2px 1px 2px;
    font-size: 11px;
    width: fit-content;
    border-radius: 3px;
    font-weight: 600;
}

.solution-tag-mitigation {
    background-color: #b72424;
}

.solution-tag-investigation {
    background-color: #5361b1;
}

.solution-tag-prevention {
    background-color: #417229;
}

.solution-tag-monitoring {
    background-color: #6a3187;
}