<div style="margin-top: 10px" *ngIf="settingsSummary.Conditions.length > 0 && settingsSummary.Action !== ''">
    {{ settingsSummary.Action }}
    <span class="actionExe" *ngIf="settingsSummary.ActionExe !==''">{{ settingsSummary.ActionExe }}</span>
    <span style="font-weight: bold" *ngIf="settingsSummary.ProcessStartupLabel !=''">{{ settingsSummary.ProcessStartupLabel }}</span>
    when
    <ul>
      <li *ngFor="let condition of settingsSummary.Conditions;let i = index;">
        {{ condition }}
        <span *ngIf="i < (settingsSummary.Conditions.length -1)"> or,</span>
      </li>
    </ul>
  </div>
  <div *ngIf="settingsSummary.Conditions.length === 0 || settingsSummary.Action ===  ''">
    No rule configured!
  </div>