.main-container {
    background-color: #e4e4e4;
    height: 100vh;
}

.multiple-sites {
    width: 100%;
    height: 100%;
    padding: 50px;
}

.matching-site {
    margin: 5px;
    float: left;
}

.main-panel {
    width: 40rem;
}

.big-text {
    padding: 100px;
    font-size: 30px;
    height: 100%;
}
