<div style="width:99%">
    <ngu-carousel [inputs]="carouselTile">
        <ngu-tile NguCarouselItem *ngFor="let Subcategory of Subcategories">
            <div class="tile" [style.background-color]="Subcategory.BgColor" style="box-shadow: none">
                <div class="col animated zoomIn category-box" [style.background-color]="Subcategory.BgColor" [style.color]="Subcategory.TextColor"
                    [routerLink]="[Subcategory.Href]" (click)="logCategorySelected(Subcategory.Name)">
                    <div class="category-content">{{Subcategory.Name}}</div>
                </div>
            </div>
        </ngu-tile>
        <div NguCarouselPrev class='carousel-arrow carousel-arrow-left'>
            <i class="fa fa-chevron-left center-icon"></i>
        </div>
        <div NguCarouselNext class='carousel-arrow carousel-arrow-right'>
            <i class="fa fa-chevron-right center-icon"></i>
        </div>
    </ngu-carousel>
</div>


<!-- <div #div id="carousel-holder" (window:resize)="registerContainerWidth(div.getBoundingClientRect())">
    <div class="carousel-inner">
        <div class="carousel-item" *ngFor="let Subcategory of Subcategories" [style.background-color]="Subcategory.BgColor" [style.color]="Subcategory.TextColor"
            [style.width]="tileWidth + 'px'" [routerLink]="[Subcategory.Href]" (click)="logCategorySelected(Subcategory.Name)">

            <div class="category-content">{{Subcategory.Name}}</div>
        </div>
    </div>
    <div *ngIf="leftArrowEnabled" class="carousel-arrow carousel-arrow-left" (click)="scrollLeft()">  
        <i class="fa fa-chevron-left"></i>
    </div>
    <div *ngIf="rightArrowEnabled" class="carousel-arrow carousel-arrow-right">
        <i class="fa fa-chevron-right"></i>
    </div>
</div> -->