<div class="timepicker">
  <div class="time-picker-container" *ngIf="globals.openTimePicker">
    <!-- <div>Time range</div>
    [selectedKey]="selectedItem && selectedItem.key" -->
    <fab-choice-group [options]="choiceGroupOptions" [defaultSelectedKey]="defaultSelectedKey">
    </fab-choice-group>
    <div *ngIf="showTimePicker" class="row">
      <div style="padding:15px">Start Time (UTC) </div>
      <fab-date-picker class="col-md-8" [strings]="dates" [minDate]="minDate" [maxDate]="maxDate"
        placeholder="Select a date..." ariaLabel="Select start date" allowTextInput="true"
        showMonthPickerAsOverlay="true" (onSelectDate)="onSelectStartDateHandler($event)" [formatDate]="formatDate"
        [value]="startDate">
      </fab-date-picker>
      <fab-masked-text-field class="col-md-4" maxLength="6" [(value)]="startClock" [iconProps]="{iconName: 'Clock'}"
        [mask]="'99:99'" [maskChar]="'-'" [validateOnFocusOut]="true" [getErrorMessage]="getErrorMessageOnTextField">
      </fab-masked-text-field>

      <div style="padding:15px; margin-top:30px">End Time (UTC) </div>
      <fab-date-picker class="col-md-8" [strings]="dates" [minDate]="minDate" [maxDate]="maxDate"
        placeholder="Select a date..." ariaLabel="Select end date" allowTextInput="true" showMonthPickerAsOverlay="true"
        (onSelectDate)="onSelectEndDateHandler($event)" [formatDate]="formatDate" [value]="endDate">
      </fab-date-picker>
      <fab-masked-text-field class="col-md-4" maxLength="6" [(value)]="endClock" [iconProps]="{iconName: 'Clock'}"
        [mask]="'99:99'" [maskChar]="'-'" [validateOnFocusOut]="true" [getErrorMessage]="getErrorMessageOnTextField">
      </fab-masked-text-field>
    </div>
    <div *ngIf="timeDiffError != ''" style="color:red;">{{timeDiffError}}</div>
    <div style="padding:15px 0px">
      <fab-primary-button contentStyle="margin-right:10px" text="Apply" (onClick)="applyTimeRange()">
      </fab-primary-button>
      <fab-default-button text="Cancel" (onClick)="cancelTimeRange()"></fab-default-button>
    </div>
  </div>
  <!-- <fab-choice-group *ngIf="showCalendar" style="position: absolute;
top: 20px;
right: 0px ;
background: #FFFFFF;
padding: 8px;
color: #323130;
font-size: 14px;" label="Label" [options]="options" (onChange)="setCategoryIndex($event)" defaultSelectedKey="0">
  </fab-choice-group> -->

  <fab-calendar *ngIf="showCalendar" (onSelectDate)="onSelectDate($event)" style="position: absolute;
top: 20px;
right: 0px ;
background: #FFFFFF;
padding: 8px;
color: #323130;
font-size: 14px;">
    <fab-calendar-strings [months]="[
'January',
'Fabruary',
'March',
'April',
'May',
'June',
'July',
'August',
'September',
'October',
'November',
'December'
]" [shortMonths]="['Jan', 'Fab', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']"
      [days]="['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']"
      [shortDays]="['S', 'M', 'T', 'W', 'T', 'F', 'S']" goToToday="Go to last 24h"
      weekNumberFormatString="Week number {0}"></fab-calendar-strings>
  </fab-calendar>
</div>