<div class="container-fluid">
  <div class="col-md-1 commit-info">
    <div class="row-fluid">
      <div class="sidebar-nav">
        <ul class="commits-table">
          <li *ngFor="let commit of commitsList.slice().reverse()" [class.selected]="commit.sha === version"
            (click)="setCodeDiffView(commit)">
            <span class="badge"> {{commit.author}} </span>
            <span> {{commit.dateTime}} </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div *ngIf="noCommitsHistory">
    <h1></h1>
    <p>No commits history so far..</p>
  </div>
  <div *ngIf="!noCommitsHistory" class="col-md-11 commit-editor">
    <ngx-monaco-editor class="diff-view" [options]="options" [(ngModel)]="currentCode"></ngx-monaco-editor>
  </div>
</div>