<!-- <div class="row" style="border-bottom: 1px solid lightgrey;padding-top:10px;padding-bottom: 10px;margin-top:5px;margin-bottom:20px;">

    <div class="col-xs-4">
        <div class="row" style="font-variant: small-caps;color:#1a5d7d;font-size:11px">Application</div>
        <div class="row" style="font-size:14px">{{siteName}}</div>
    </div>
    <div class="col-xs-8">
        <div class="row" style="font-variant: small-caps;color:#1a5d7d;font-size:11px">Date (UTC)</div>
        <div class="row" style="font-size:14px">
            <form #myForm="ngForm" novalidate style="width:150px">
                <my-date-picker name="mydate" [options]="myDatePickerOptions" [(ngModel)]="dateModel" (dateChanged)="RefreshData($event)"
                    required></my-date-picker>
            </form>
        </div>
    </div>

</div> -->
<detector-control></detector-control>

<div>
    <h4>TCP Connections Summary</h4>
    <expandable-summary [title]="'TCP Connections'" [summaryViewModel]="connectionsUsageViewModel" [refreshing]="refreshingConnectionsUsage"></expandable-summary>
    <expandable-summary [title]="'Connections Rejections'" [summaryViewModel]="connnectionsRejectionsViewModel" [refreshing]="refreshingConnnectionsRejections"></expandable-summary>
    <expandable-summary [title]="'Open Socket Handles'" [summaryViewModel]="openSocketCountViewModel" [refreshing]="refreshingOpenSocketCount"></expandable-summary>
    <br/>
    <feedback-form [source]="'tcpconnectionanalysis'"></feedback-form>
</div>