<div class="unauthorized-container">
    <div class="unauthorized-div">
        <img src="assets/img/unauthorized.svg" class="unauthorized-icon"/>
        <p class="unauthorized-header">Unauthorized! Its easy to gain access to AppLens.</p>
        <div style="display: flex; flex-direction: row;">
            <div style="flex: 0 1 auto; max-width: 50%;">
                <div>
                    <p class="unauthorized-sub-header">Need Quick Access?</p>
                    <div *ngIf="!temporaryAccessFailed && !temporaryAccessSucceeded" class="temporary-access-link" (click)="requestTemporaryAccess()">
                        Click here to request <strong>one time</strong> temporary access for 7 days
                    </div>
                    <div *ngIf="temporaryAccessFailed">{{accessFailedReason}}</div>
                    <div *ngIf="temporaryAccessSucceeded">{{temporaryAccessSuccessMessage}} Redirecting to home....</div>
                    <div *ngIf="!temporaryAccessFailed"><strong>Disclaimer:</strong> This is temporary access only and will expire after 7 days. <u>Please make sure to apply for AppLens Access</u> as described on the right.</div>
                </div>
            </div>
            <div style="flex: 0 1 auto; min-width: 50px; height: 100%; text-align: center; font-size: 18px; font-weight: 700;">or</div>
            <div style="flex: 0 1 auto;">
                <p class="unauthorized-sub-header">Request for long-term <a href="https://myaccess/identityiq/ui/rest/redirect?rp1=/accessRequest/accessRequest.jsf&rp2=accessRequest/review?role=AppLens+Access&autoSubmit=true" target="_blank" rel="noopener noreferrer">AppLens Access here</a></p>
                <p><u>If the above direct link does not work</u>, please follow the below steps to apply for access.</p>
                <ol>
                    <li>Go to <a href="https://myaccess" target="_blank" rel="noopener noreferrer">MyAccess</a></li>
                    <li>Click on <strong>Request Access</strong></li>
                    <li>Search for and select <strong>AppLens Access</strong></li>
                    <li>Click <strong>Next</strong> and move to Review and Submit</li>
                    <li>Make sure <strong>AppLens Access</strong> is selected and click <strong>Submit</strong></li>
                </ol>
            </div>
        </div>
    </div>
</div>
