.unauthorized-container{
    background-color: #ffffff!important;
    height:100vh;
    width:100vw;
}

.unauthorized-div{
    height: 100vh;
    margin-left: 5vw;
    margin-right: 5vw;
    padding-top: 11vh;
    font-size: 16px;
}

.unauthorized-sub-header {
    font-size: 18px;
}

.unauthorized-header{
    font-size: 24px;
}

.unauthorized-icon{
    width: 120px;
    padding-bottom: 20px;
}

.temporary-access-link{
    text-decoration: underline;
    cursor: pointer;
    color: #72afd2;
    font-weight: 700;
}