.unauthorized-container{
    background-color: #ffffff!important;
    height:100vh;
    width:100vw;
}

.unauthorized-div{
    height: 100vh;
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 10%;
    font-size: 22px;
}

.unauthorized-header{
    font-size: 24px;
}

.unauthorized-icon{
    width: 120px;
    padding-bottom: 20px;
}

.temporary-access-link{
    text-decoration: underline;
    cursor: pointer;
    color: #72afd2;
}