.blog-container{
    display: table;
    height: 80px;
    margin-top: 10px;
    border: 1px solid #e0e0e0;
    cursor: pointer;
}
.blog-row{
    display: table-row;
    height: 100%;
    width: 100%;;
}
.blog-image-container{
    width: 80px;
    height: 80px;
    display: table-cell;
}
.blog-image-container > img{
    height: 100%;
    width: 100%;
}
.blog-text-container{
    height: 80px;
    display: table-cell;
    max-width:450px;
}
.blog-title-container{
    margin-left:0;
    margin-right:0;
    width:100%;
    height:24px;
    font-size: 15px;
}
.blog-title{
    margin-left:10px;
    color:#5d5d5d;
    text-decoration: underline;
}
.blog-title > i{
    margin-right:5px;
    margin-left:10px;
}
.blog-description-container{
    margin-left:0;
    margin-right:10px;
    height:56px;
}
.blog-description{
    margin-left:10px;
    color:#868686;
    line-height: 1.3;
    font-weight: 400;
}