<div *ngIf="matchesSearchTerm">
    <div class="menu-item" (click)="handleClick()" [class.selected]="isSelected()" [style.padding-left]="getPadding()" [style.font-size]="getFontSize()">
        <i class="fa expand-icon" *ngIf=" menuItem.subItems && menuItem.subItems.length > 0" [class.fa-caret-right]="!menuItem.expanded"
            [class.fa-caret-down]="menuItem.expanded"></i>
        <i class="fa" *ngIf="menuItem.icon" [ngClass]="menuItem.icon"></i>
        <img class="category-icon" src={{menuItem.icon}} />  
        <span class="menu-label" [innerHtml]="menuItem.label | searchmatch:searchValueLocal"></span>
    </div>
    <div class="menu-item-children">
        <!-- [searchValue]="searchValueLocal"  -->
        <collapsible-menu-item *ngFor="let item of menuItem.subItems" [menuItem]="item" [level]="level + 1"></collapsible-menu-item>
    </div>
</div>