<div class="category-container" (click)="navigateToCategory()" (keyup.enter)="navigateToCategory()"
  (keyup.space)="navigateToCategory()" tabindex="0" role="button">
  <div class="title-container" [style.background-color]="category.color">
    {{ resourcePrefix + "category." + category.id + ".name" | translate}}
  </div>
  <div class="category-body">
    <p>{{resourcePrefix + "category." + category.id + ".description" | translate}}</p>
    <div>
        <span class="keyword-label">{{ "Keywords" | translate}}</span>
        <div class="keywords">
          <div class="keyword" [style.border-color]="category.color" *ngFor="let keyword of category.keywords">
            {{keyword}}
          </div>
        </div>
      </div>
  </div>
</div>
