.category-container {
    width: 300px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    height: 100%;
    border: 1px solid rgba(204, 204, 204, 0.5);
}

.category-container:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.14);
    transition: box-shadow .28s cubic-bezier(.4,0,.2,1),-webkit-box-shadow .28s cubic-bezier(.4,0,.2,1);
}

.title-container {
    padding: 10px;
    font-size: 16px;
    width: 100%;
    font-weight: 500;
    
}

.category-body {
    padding: 10px;
}

.keywords {
    display: flex;
    flex-wrap: wrap;
}

.keyword-label {
    color: #5a5a5a;
    font-size: 12px;
}

.keyword {
    font-size: 12px;
    border-radius: 5px;
    padding:3px;
    padding: 2px 4px;
    margin: 0px 5px 5px 0px;
    border: 1px solid #cdd1d4;
}