<div class="dropdown-step{{dropdownStepView.bordered?' bordered':''}}">
    <p class="view-description">{{ dropdownStepView.description }}</p>
    <div class="dropdown-container" *ngFor="let dropdown of dropdownStepView.dropdowns; index as i">
        <p class="description" *ngIf="dropdown.description">{{ dropdown.description }}</p>
        <fab-dropdown [componentRef]="dropdownRef" (onLoad)="onload()" (onChange)="onChange($event, i)" (onDismiss)="dropdownStepView.onDismiss()" [disabled]="dropdownOptions[i].length==1" [options]="dropdownOptions[i]" [defaultSelectedKey]="null" contentStyle="width:{{dropdownStepView.width}};"></fab-dropdown>
    </div>
</div>
