<!-- <div class="main-content">
  <div class="nav-container">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a [routerLink]="['./']" preserveFragment queryParamsHandling="preserve" [routerLinkActive]="['active', 'active-tab' ]"
          [routerLinkActiveOptions]="{exact: true}">Data</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['edit']" preserveFragment queryParamsHandling="preserve" [routerLinkActive]="['active', 'active-tab']"
          [routerLinkActiveOptions]="{exact:true}">Develop</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['changelist']" queryParamsHandling="preserve" [routerLinkActive]="['active', 'active-tab']"
          [routerLinkActiveOptions]="{exact:true}">Commits History</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['datasource']" queryParamsHandling="preserve" [routerLinkActive]="['active', 'active-tab']"
          [routerLinkActiveOptions]="{exact:true}">Data Sources</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['monitoring']" queryParamsHandling="preserve" [routerLinkActive]="['active', 'active-tab']"
          [routerLinkActiveOptions]="{exact:true}">Detector Monitoring Statistics</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['analytics']" queryParamsHandling="preserve" [routerLinkActive]="['active', 'active-tab']"
          [routerLinkActiveOptions]="{exact:true}">Detector Usage and Analytics</a>
      </li>
    </ul>
  </div> 
</div> -->
<div class="mb-3">
  <ng-container *ngIf="enabledDetectorDevelopment else disabledDevelopment">
    <fab-pivot (onLinkClick)="navigateToData($event)" [selectedKey]="selectedTabKey">
      <fab-pivot-item headerText="Data" [itemKey]="TabKey.Data"></fab-pivot-item>
      <fab-pivot-item headerText="Develop" [itemKey]="TabKey.Develop"></fab-pivot-item>
    </fab-pivot>
  </ng-container>
</div>
<router-outlet></router-outlet>


<ng-template #disabledDevelopment>
  <fab-pivot (onLinkClick)="navigateToData($event)" [selectedKey]="selectedTabKey">
    <fab-pivot-item headerText="Data" [itemKey]="TabKey.Data"></fab-pivot-item>
  </fab-pivot>
</ng-template>