.input-section{
}

.input-check-button{
    padding-top: 12px;
}

.input-box{
    width: 225px;
}

.input-step{
    padding: 10px 10px 10px 10px;
}

.input-check-button .ms-Button{
    height: 28px;
    width: fit-content;
}

.input-step-title{
    font-size: 14px;
    font-weight: 500;
}

.input-tooltip{
    margin-top: -8px;
    position: absolute;
    margin-left: 3px;
    font-size: 15px;
}