<div *ngIf="rule == null && !editMode">
  If the performance of your application starts degrading and several pages start taking longer time to render, you can
  configure
  a rule to mitigate the issue or collect diagnostic data to identify the root cause of the problem.

  <div class="rule-button">
    <button type="button" class="btn btn-primary btn-sm" (click)="addNewRule()">
      Configure Slow Request rule
    </button>
  </div>
  <div aria-live="polite" class="mt-1" [style.visibility]="displayDeleteRuleMessage ? 'visibile' : 'hidden'">
    Rule Deleted
  </div>
</div>

<table class="table table-bordered" *ngIf="!editMode && rule != null">
  <thead>
    <tr>
      <th scope="col">Request Count</th>
      <th scope="col">Time Taken</th>
      <th scope="col">Duration</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td scope="row">{{ rule.count }}</td>
      <td>{{ rule.timeTaken }}</td>
      <td>{{ rule.timeInterval }}</td>
      <td>
        <button role="button" class="image-btn" *ngIf="!editMode" (click)="editRule()" title="Edit rule" name="editRule">
          <i class="fa fa-edit"></i>
        </button>
        <button role="button" class="image-btn" *ngIf="!editMode" (click)="deleteRule()" title="Delete rule" name="deleteRule">
          <i class="fa fa-trash"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>

<div *ngIf="editMode" class="form-group">
  <div class="row">
    <div class="col-sm-6">
      <label for="requestsCountSlow">After how many slow requests you want this condition to kick in?</label>
    </div>
    <div class="col-sm-4">
      <input aria-required="true" type="number" id="requestsCountSlow" placeholder="Enter count"
        [(ngModel)]="ruleCopy.count" min="1" max="4294967295">
      <span style="color:red">*</span>
      <div *ngIf="ruleCopy.count <=0" class="alert alert-danger" style="margin-top:5px">
        Request count should be more than zero
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <label for="timeTakenSlow">What should be minimum duration (in seconds) for these slow requests?</label>
    </div>
    <div class="col-sm-4">
      <timespan ControlId="timeTakenSlow" [(timeSpan)]="ruleCopy.timeTaken" placeholder="e.g. 60"></timespan>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <label for="durationSlow">What is the time interval (in seconds) in which the above condition should be
        met?</label>
    </div>
    <div class="col-sm-4">
      <timespan ControlId="durationSlow" [(timeSpan)]="ruleCopy.timeInterval" placeholder="e.g. 300"></timespan>
      <div *ngIf="showIntervalRecommendation" class="alert alert-danger" style="margin-top:5px">
        It is recommended that the time interval is higher than the minimum duration setting.
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <button type="button" class="btn btn-primary btn-sm" [disabled]="!isValid()" (click)="saveRule()">Ok</button>
    </div>
  </div>

</div>