<metric-graph [metricSets]="detectorMetrics" [title]="detectorMetricsTitle" [chartType]="metricsChartType" [yAxisLabel]="detectorMetricsYAxisLabel"></metric-graph>
<span *ngIf="showMetadata">This table displays the most common errors/warnings and the number of times that each occurred</span>
<table *ngIf="showMetadata" class="table table-bordered" style="margin-top:8px;margin-bottom:5px;">
    <thead>
        <tr>
            <th *ngFor="let header of detectorResponse.data[0]"><span>{{header.name}}</span></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of detectorResponse.data">
            <td *ngFor="let col of row" >{{col.value}}</td>
        </tr>
    </tbody>
</table>

<br/>
<feedback-form [source]='getDetectorName()'></feedback-form>