

    <!-- <p>
        Using Angular react renderer to render fabric UI here
      </p>
      
      <div>
        <fab-button label="Fabric [React] Button" (onClick)="toggleDialog()"></fab-button>
        <fab-dialog [hidden]="dialogHidden" (onDismiss)="toggleDialog()" key="d2" title="Fabric [React] Dialog" subText="Use Fabric React components inside your Angular app!" [type]="DialogType.largeHeader">
          Hello world! {{ counter }}
          <fab-dialog-footer>
            <fab-button (onClick)="incrementCounter()" label='Save' style="margin-right:10px;"></fab-button>
            <fab-button (onClick)="toggleDialog()" label='Cancel'></fab-button>
          </fab-dialog-footer>
        </fab-dialog>
      </div> -->
<router-outlet></router-outlet>
