<div class="banner">
  <div>
    <button class="btn back-button" (click)="navigateBack()">&lt; Back</button>
  </div>
  <div class="category-info-container">
    <img *ngIf="categoryIcon != undefined && categoryIcon != ''" class="category-icon" src={{categoryIcon}} />
    <ngx-avatar *ngIf="categoryIcon == undefined || categoryIcon === ''" [name]="categoryName" class="category-icon-avatar" [round]="false"
      initialsSize="2" size="100"></ngx-avatar>
    <div class="category-title">
      <span class="catogory-name">
        {{categoryName}}
      </span>
      <div class="category-description">
        <span>
          {{detectorsNumber}} detectors <span *ngIf="authorsNumber>0">, {{authorsNumber}} contributors </span>
        </span>
      </div>
    </div>
  </div>
</div>
<div *ngIf="filteredDetectorsLoaded" class="detector-list">
  <div class="flexed-detector card" *ngFor="let detector of detectors; let i=index" (click)="detector.onClick()">
    <div class="detector-top row" (click)="detector.onClick()">
      <div class="col-md-2 detector-icon">
        <img *ngIf="detector.icon != undefined && detector.icon != ''" class="support-topic-l3-icon" src={{detector.icon}} />
        <ngx-avatar *ngIf="detector.icon == undefined || detector.icon === ''" [name]="detector.name" [round]="true" initialsSize="2"></ngx-avatar>
      </div>
      <div class="col-md-10 detector-name">
        {{detector.name}}
      </div>
    </div>
    <div class="detector-bottom">
      <div class="detector-description" (click)="detector.onClick()">
        {{detector.description}}
      </div>
      <div *ngIf="detector.authorString != undefined && detector.authorString !== ''" class="detector-authors">
        <div class="author-image-container">
          <div *ngFor="let image of detector.userImages | keyvalue" class="author-image" (click)="navigateToUserPage(image.key)">
            <span>{{image.key}}</span>
            <img *ngIf="image.value != undefined && image.value !== ''" class="author-image" src="{{image.value}}" (click)="navigateToUserPage(image.key)"
            />
            <ngx-avatar *ngIf="image.value == undefined || image.value === ''" class="author-initial" [name]=image.key size="35" initialsSize="2"
              (click)="navigateToUserPage(image.key)"></ngx-avatar>
          </div>
        </div>
        <div class="author-String">
          <span>{{detector.authorString}}</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!filteredDetectorsLoaded" class="loading-page">
  <i class="fa fa-spinner fa-spin fa-4x fa-fw"></i>
</div>


<!-- <div style="display:inline-block;height: 22px;width: 22px;"><svg viewBox="0 0 18 18" data-islogo="true" class=""
    role="presentation" focusable="false" xmlns:svg="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink" id="FxSymbol0-059" data-type="241">
    <g>
      <title></title>
      <path fill="#b796f9"
        d="M14.726 1.622l-3.988 7.1-4.217-4.299-4.356 5.634 1.029.802 3.444-4.454 4.385 4.472 4.838-8.612-1.135-.643z">
      </path>
      <path
        d="M8.211 5.392a1.639 1.639 0 1 1-1.656-1.629 1.642 1.642 0 0 1 1.656 1.629zm2.794 2.467a1.646 1.646 0 1 0 1.656 1.628 1.642 1.642 0 0 0-1.656-1.628zM15.136.5a1.646 1.646 0 1 0 1.656 1.628A1.643 1.643 0 0 0 15.136.5zM2.83 8.569A1.646 1.646 0 1 0 4.486 10.2 1.644 1.644 0 0 0 2.83 8.569z"
        fill="url(#e4a02a9e-d693-4e59-974a-6003803edd53)"></path>
      <rect x="5.67" y="9.918" width="2.576" height="7.582" rx=".283" fill="#0078d4"></rect>
      <rect x="9.78" y="12.542" width="2.576" height="4.958" rx=".283" fill="#005ba1"></rect>
      <rect x="13.891" y="7.381" width="2.576" height="10.119" rx=".283" fill="#005ba1"></rect>
      <rect x="1.559" y="12.542" width="2.576" height="4.958" rx=".283" fill="#5ea0ef"></rect>
    </g>
  </svg></div> -->
