<div class="col-6 col-sm-8 mt-5">
  <div class="row form-group" *ngIf="showGeneralError">
    <div class="alert alert-danger" role="alert">
      <p>{{generalErrorMsg}} </p>
    </div>
  </div>
  <loader-view *ngIf="updatingTag || updatingProvider " message="Saving settings..."></loader-view>
  <div class="row form-group" *ngIf="showResourceProviderRegStatus">
    <span class="fa fa-circle-o-notch fa-spin spin-icon"></span>
    Change Analysis Resource Provider is {{resourceProviderRegState}}. This will take a few mins. Please check again later.
  </div>
  <div *ngIf="!pollingResourceProviderRegProgress && !updatingProvider && !updatingTag">
    <div class="row form-group option-group">
      <label class="control-label col-sm-2 settings-label">Change Analysis</label>
      <div class="col-sm-2 toggle-button">
        <toggle-button [selected]="isEnabled"
          (selectedChange)="$event ? enableButtonSelectedValue = true : enableButtonSelectedValue = false">
        </toggle-button>
      </div>
      <div class="col-sm-8">
        <span class="fa fa-question-circle"></span>
        This setting is effective per web app.
      </div>
    </div>
    <div class="row form-group">
      <div class="ml-3">
        <button class="btn btn-primary" (click)="saveSettings()">Save</button>
      </div>
    </div>
  </div>
</div>