<div class="container">
    <div class="header1">{{ title }}</div>
    <p>{{ description }}</p>
    <div class="wizardcontainer">

        <daas [scmPath]="scmPath" [siteToBeDiagnosed]="siteToBeDiagnosed" [DiagnoserName]="DiagnoserName" (SessionsEvent)="updateSessions($event)">
        </daas>
    </div>

    <div class="header2">What you should know before running PHP Log Analyzer</div>
    <ul>
        <li *ngFor="let statement of thingsToKnowBefore">{{statement}}</li>
    </ul>

    <div class="sessions">
        <daas-sessions [refreshSessions]="refreshSessions" DiagnoserNameLookup="PHP Error Logs" [scmPath]="scmPath" [siteToBeDiagnosed]="siteToBeDiagnosed"></daas-sessions>
    </div>
</div>