.tool-container {
    padding: 20px 30px;
}

.fa {
    margin-right: 10px;
}

.message {
    padding: 8px;
    width: fit-content;
    
}

.message-info {
    background-color: rgba(42, 162, 20, 0.1);
}

.message-warning {
    background-color: rgba(183, 104, 51, 0.1);
}

.header1 {
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
}