<aside class="main-sidebar">
  <section class="sidebar">
    <div class="menu" [ngClass]="'light-theme'">
      <div id="scroll-container">
        <section-divider [label]="'Overview'" [isOverview]="true" [routePath]="'overview'">
          <collapsible-menu-item *ngFor="let detector of detectorList" [menuItem]="detector"
            [class.selected]="isSelected"></collapsible-menu-item>
        </section-divider>
        <section-divider *ngIf="orphanDetectorList.length>0" [label]="'Others'" [routePath]="'Others'">
          <collapsible-menu-item *ngFor="let orphanDetector of orphanDetectorList" [menuItem]="orphanDetector"
            [class.selected]="isSelected"></collapsible-menu-item>
        </section-divider>
        <ng-container *ngIf="isDiagnosticTools">
          <section-divider *ngFor="let item of toolCategoriesFilteredByStack" [label]=item.item.title
            [routePath]=item.item.title>
            <collapsible-menu-item *ngFor="let tool of item.item.tools" [menuItem]="tool" [class.selected]="isSelected">
            </collapsible-menu-item>
          </section-divider>
        </ng-container>
      </div>
    </div>
  </section>
</aside>