td, th {
    padding:5px;
}

.outer-container {
    padding: 20px;
}

.btn-group {
  float: right;
  border: 1px solid;
  border-radius: 5px;
  border-color: #28F;
  box-shadow: none;
  text-shadow: none;
}

.btn.is-selected {
  color: white;
  background-color: #28F;
}

.btn {
  background-color: white;
  color:#2288fc;
}

.category-container {
  margin: 20px;
  display: inline-block;
  width:100%;
}

.content-card {
    margin-bottom: 3em;
}

.alert-container {
    margin-left: -20px;
}

body {
  background-color: #EBEEF3;
  box-sizing: border-box;
  font-family: "Helvetica", "Arial", "FreeSans", "Verdana", "Tahoma", "Lucida Sans", "Lucida Sans Unicode", "Luxi Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #267DF5;
}

.container {
  height: 100vh;
  width: 980px;
  margin: 0 auto;
  padding-top: 4em;
}

.keywords {
    display: flex;
   flex-wrap: wrap;
    align-items: baseline;
    margin: 2.5%;
}

.keyword-label {
    color: #5a5a5a;
    font-size: 12px;
}

.keyword {
    font-size: 11px;
    border-radius: 5px;
    padding:3px;
    padding: 2px 4px;
    margin: 0px 5px 5px 0px;
    border: 1px solid #cccccc;
    color:#595959;
    background-color: #e9e9e9;
}

.detectors-hint {
    font-size: 11px;
    color: #337ab7;
}

.flexbox {
  display: flex;
  flex-flow: row wrap;
  align-content: space-between;

  > *{ margin: 20px 10px 0 10px; }
  > :first-child{ margin-left: 0; }
  > :last-child{ margin-right: 0; }
}

.flexed {
  display: inline-block;
  will-change: transform, flex-grow;
  background: #F5F7F9;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.24);
  cursor: pointer;
  width: 31%;
  height: 210px;
  margin: 1%;
  flex-grow: 1;
  flex-basis: 0;
  transition: flex-grow 450ms cubic-bezier(.55,0,.1,1), opacity 450ms ease, top 450ms ease 0s, width 350ms cubic-bezier(.55,0,.1,1);

  &:hover {
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2);
    border: #299fda solid 2px;
  }

  * {
    transition: opacity 300ms;
    transition-delay: 100ms;
    opacity: 1;
  }

  &.active {
    flex-grow: 8;
    height: 550px;
    //height: 90%;
    width: 84%;
    cursor: default;
  }

  &.inactive {
    flex-grow: 0.5;
    opacity: .5;
    height: 220px;

    width:3%;
    &:hover {
      opacity: .9;
    }

    * {
      transition: opacity 200ms;
      opacity: 0;
    }
  }

  &.inactive-fullsize {
    flex-grow: 0.5;
    opacity: .5;

    width:25%;
    &:hover {
      opacity: .9;
    }

    * {
      transition: opacity 200ms;
      opacity: 0;
    }
  }

  &.empty {
    background-color: transparent;
    box-shadow: none;
    cursor: default;
  }
}

.category-icon {
  width:100%;
  height: 100%;
  margin: 15% 5% 5% 5%;
}


.category-icon-avatar {
  width:100%;
  height: 100%;
  margin: 15% 5% 5% 15%;
}

.category-icon-container {
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 1%;
}

.category-avatar-container {
  padding: 6% 3% 3% 4%;
}

.category-label {
    margin: 30px 0px 0px 0px;
    float: left;
}

.category-title {
  font-size:16px;
  font-weight:600;
    margin-bottom: 5px;
    color:#585858;
}

.category-description {
    font-size: small;
}

.category-content {
   margin-top:10px 0px;
}

.card {
  border-radius: 2px;
  position: relative;
  overflow: hidden;
  background-color: white;

  .top {
    padding: 20px;
    text-align: center;

    .icon {
      margin: 0 auto;
      width: 100px;
      transition: transform 350ms, opacity 300ms;
      transform: scale(1,1);
      border-radius: 16px;
      box-shadow: 0 1px 5px 1px rgba(#ccc,.8);
    }
  }

  .bottom {
    width: 100%;
    height: 70%;
    border-bottom: 1px solid #E4E7EC;
    background-color: white;
    margin: auto;

    transition: width 350ms cubic-bezier(.55,0,.1,1);
   // transition: transform 350ms , opacity 300ms;
    .actions {
      position: absolute;
      height: 100%;
      top: 0;
      left: 0;
      width: 100%;
    }
  }

  .actions {
    opacity: 0;
    z-index: -1;
  }

  &.active {
    .bottom .icon {
      opacity: 0;
      transition: transform 350ms, opacity 100ms;
      transform: scale(2,2);
      cursor: pointer;
    }

    .top .icon {
      opacity: 0;
      transition: transform 350ms, opacity 100ms;
      transform: scale(2,2);
      cursor: pointer;
    }

    .actions {
      opacity: 1;
      z-index: 2;
    }

    .bottom {
      height: 8%;
    }
  }
}

.name {
  font-size: 13px;
  font-weight: bold;
  text-transform: capitalize;
  margin-top: 10px;
}

.card .management {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 85%;
  padding-top: 20px;

  h2 {
    font-weight: 100;
  }
}

.detector-card-container {
  height: 80%;
  overflow-y: auto;
  margin:60px 5px 10px 5px;
}

.detector-card{
  display: inline-block;
  will-change: transform, flex-grow;
  background: #e5edfd;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.24);
  cursor: pointer;
  width: 22%;
  height: 180px;
  margin: 10px 10px 10px 10px;
  flex-grow: 1;
  flex-basis: 0;
  transition: flex-grow 450ms cubic-bezier(.55,0,.1,1), opacity 450ms ease, height 450ms cubic-bezier(.55,0,.1,1);

  &:hover {
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2);
  }

  * {
    transition: opacity 300ms;
    transition-delay: 100ms;
    opacity: 1;
  }

  &.active {
    flex-grow: 10;
    height: 550px;
    //height: 90%;
    width: 84%;
    cursor: default;
  }

  &.inactive {
    flex-grow: 0.5;
    opacity: .5;

    width:3%;
    &:hover {
      opacity: .9;
    }

    * {
      transition: opacity 200ms;
      opacity: 0;
    }
  }

  &.inactive-fullsize {
    flex-grow: 0.5;
    opacity: .5;

    width:25%;
    &:hover {
      opacity: .9;
    }

    * {
      transition: opacity 200ms;
      opacity: 0;
    }
  }

  &.empty {
    background-color: transparent;
    box-shadow: none;
    cursor: default;
  }

  h2 {
    font-weight: 100;
  }
}

.detector-name {
  color: #0944ce;
}

.detector-author {
  color: #0944ce;
  font-style: italic;
}

.detector-description {
  font-size: 12px;
  margin-top:10px;
}


///
input[type='text'] {
  background-color: #FCFCFC;
  border: 1px solid #D8DCE1;
  line-height: 35px;
  border-radius: 2px;
  padding-left: 10px;
  margin: 10px auto;
  width: 250px;
  font-size: 14px;
  color: #464646;
}

input[type='button'] {
  color: #AFB0B4;
  background-color: transparent;
  border: 1px solid #D8DCE1;
  height: 39px;
  border-radius: 2px;
  padding: 0 20px;
  min-width: 100px;
  font-size: 14px;
  text-transform: uppercase;
  margin: 0 auto;
  cursor: pointer;

  &:hover {
    border: 1px solid #C4C3C6;
    color: #C4C3C6;
  }

  &.block {
    display: block;
    margin-top: 20px;
  }

  &.special {
    width: 300px;
  }
}

.loading-home-page {
  margin: 60px;
  text-align: center;
}

.search-input{
  background-color: #FCFCFC;
    border: 1px solid #D8DCE1;
    line-height: 55px;
    border-radius: 3px;
    width: 100%;
    padding-left: 40px;
    font-size: 20px;
    color: #464646;
}

.icon-err{
  margin-top: 5px;
    margin-left: -22px;
    font-size: 34px;
    position: absolute;
    color: #bf0000;
}

.search-icon{
  font-size: 22px;
    color: #3c8dbc;
    position: absolute;
    padding-left: 11px;
    margin-top: 17px;
}

.search-box-container{
  width: 100%; 
}

.search-box{
  display: block;
    width: 50%;
    margin-top: 0.5%;
    margin-left: 25%;
    padding-bottom: 15px;
}

::placeholder {
  color: #848080;
}
