<div class="outer-container">
  <div class="alert-container">
    <comm-alert></comm-alert>
  </div>

  <div class="resource-info">
    <h4>Resource Information</h4>
    <div *ngFor="let key of keys">
      <b>{{key}}:</b> {{resource[key]}}
    </div>
  </div>
  
  <div class="detector-list">
    <h4>Detectors Enabled For Support Topics</h4>
    <table>
      <thead>
        <th>
          Pes Id
        </th>
        <th>
          Support Topic Id
        </th>
        <th>
          Detector
        </th>
      </thead>
      <tbody>
        <tr *ngFor="let s of supportTopicIdMapping">
          <td>
            {{s.supportTopic.pesId}}
          </td>
          <td>
            {{s.supportTopic.id}}
          </td>
          <td>
            {{s.detectorName}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
