.bordered{
    border: 1px solid #e5e5e5;
    padding: 10px 10px 15px 10px;
}

.dropdown-container .description{
    margin: 10px 0px 5px 1px;
}

.ms-Callout-container .ms-Callout-main{
    max-height: 400px !important;
    overflow-y: overlay !important;
}